<div class="module-loader" *ngIf="loading">
  <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>
<div class="col-md-12 mb-2">
  <div class="row">
    <div
      class="d-flex align-items-center flex-column col-md-6 border border-white bg-light"
    >
      <mat-form-field class="w-100" color="primary" appearance="fill">
        <mat-label>LUGAR:</mat-label>
        <mat-select
          [(ngModel)]="lugarTodo"
          (selectionChange)="filtrarXLugares($event)"
        >
          <mat-option *ngFor="let lugar of listaLugares" [value]="lugar">
            {{ lugar.lugar_nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="col-12 d-flex">
        <div class="col-5">
          <button
            class="w-100"
            mat-raised-button
            color="primary"
            [disabled]="lugarTodo === null"
            (click)="filtrarXLugares({ value: lugarTodo })"
          >
            CARGAR DATOS
          </button>
        </div>
        <div class="col-5">
          <button
            class="w-100"
            mat-raised-button
            color="primary"
            (click)="generarPdfBienes()"
          >
            IMPRIMIR <mat-icon>print</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 border border-white bg-light">
      <div class="row m-1 mt-1">
        <div class="col-md-12 p-1">
          <h1 class="titulo text-center">
            {{ titulo }}
            {{
              tipoMovimientoDefecto !== "1"
                ? "- " + tipoMovimientoDefectoNombre
                : ""
            }}
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card o-hidden">
  <div class="col-12 py-2">
    <div class="row">
      <div class="col-4">
        <button
          mat-raised-button
          color="primary"
          type="button"
          [disabled]="lugarTodo === undefined"
          (click)="abrirFormCrearMovimiento(formularioMoviendo)"
        >
          REALIZAR MOVIMIENTO
        </button>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr class="head-tablas">
            <th>#</th>
            <th>NRO. ORDEN</th>
            <th>ARTÍCULO</th>
            <th>SALDO</th>
            <th>UNI. MEDIDA</th>
            <th>ACCIONES</th>
          </tr>
          <tr>
            <th></th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Nro. Orden...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.nro_orden"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Artículo...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.articulo"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Saldo...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.saldo"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Unidad Medida...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.unidad"
                  matInput
                />
              </mat-form-field>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="listaBienes as result">
            <tr
              *ngFor="
                let registro of result
                  | paginate
                    : {
                        id: 'bienes',
                        itemsPerPage: iPageSize,
                        currentPage: pB
                      };
                let i = index
              "
            >
              <td class="text-center">
                <span [innerHTML]="i + 1 + (pB - 1) * iPageSize"></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="registro.anio | resaltar: campoFiltro.nro_orden"
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="
                    registro.articulo | resaltar: campoFiltro.articulo
                  "
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="registro.saldo | resaltar: campoFiltro.saldo"
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="registro.uni_med | resaltar: campoFiltro.unidad"
                ></span>
              </td>
              <td class="text-right">
                <button
                  mat-icon-button
                  matTooltip="Opciones"
                  [matMenuTriggerFor]="menu"
                  aria-label="Example icon-button with a menu"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button
                    mat-menu-item
                    (click)="mostrarKardex(modalKardex, registro)"
                  >
                    <mat-icon>visibility</mat-icon>
                    <span>Ver Kardex</span>
                  </button>
                </mat-menu>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <pagination-controls
      id="bienes"
      (pageChange)="pB = $event"
      previousLabel="Atras"
      nextLabel="Siguiente"
    ></pagination-controls>
  </div>
</div>
<ng-template let-modal #formularioMoviendo let-d="dismiss">
  <div class="card text-center">
    <div class="card-header">
      GENERAR MOVIMIENTO
      <button
        type="button"
        aria-label="Cerrar"
        (click)="d()"
        class="close text-white"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form (ngSubmit)="moverBienes()" [formGroup]="formularioMovimiento">
      <mat-horizontal-stepper [linear]="true" #stepper>
        <div class="card-body">
          <mat-step>
            <ng-template matStepLabel>INFORMACIÓN</ng-template>
            <div class="row">
              <div class="col-4 mr-auto">
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>FECHA DE ENVIO:</mat-label>
                  <input
                    matInput
                    type="datetime-local"
                    formControlName="fecha_actual"
                  />
                </mat-form-field>
              </div>
              <div class="col-4">
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>TIPO DE MOVIMIENTO:</mat-label>
                  <mat-select formControlName="tipo_movimiento">
                    <mat-option
                      *ngFor="let mov of listaTipoMovs"
                      [value]="mov.tipomov_id"
                      >{{ mov.nombre }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <input type="hidden" formControlName="lugar_origen_id" />
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>LUGAR DE ORIGEN:</mat-label>
                  <input matInput type="text" formControlName="lugar_origen" />
                </mat-form-field>
              </div>
              <div class="col-6">
                <input type="hidden" formControlName="lugar_destino" >
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>LUGAR:</mat-label>
                  <input
                    type="text"
                    matInput
                    [formControl]="lugarDestino"
                    [matAutocomplete]="lugarAuto"
                  />
                  <mat-autocomplete
                    id="auto2"
                    (optionSelected)="lugarElegido($event)"
                    [displayWith]="displayFnLugares"
                    #lugarAuto="matAutocomplete"
                  >
                    <mat-optgroup
                      *ngFor="let almacen of almacenesFiltrados | async"
                      [label]="almacen.nombre"
                    >
                      <mat-option
                        *ngFor="let lugar of almacen.lugares"
                        [value]="lugar"
                      >
                        {{ lugar.lugar_nombre }}
                      </mat-option>
                    </mat-optgroup>
                  </mat-autocomplete>
                  <mat-error>Seleccione un lugar...</mat-error>
                </mat-form-field>
                <!-- <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>LUGAR DE DESTINO:</mat-label>
                  <mat-select formControlName="lugar_destino">
                    <ng-container *ngFor="let almacen of almacenes">
                      <mat-optgroup
                        *ngIf="almacen.idestado === 1"
                        [label]="almacen.nombre"
                      >
                        <mat-option
                          *ngFor="let lugar of almacen.lugares"
                          [value]="lugar.lugar_id"
                        >
                          {{ lugar.lugar_nombre }}
                        </mat-option>
                      </mat-optgroup>
                    </ng-container>
                  </mat-select>
                  <mat-error>Seleccione un lugar...</mat-error>
                </mat-form-field> -->
              </div>
            </div>
            <!-- DIV PARA 2 CAMPOS REDUCIDOS -->
            <!-- <div class="row">
              

              
            </div> -->
            <!-- SOLICITANTE Y RECEPCTOR -->
            <div class="row">
              <div class="col-6">
                <input formControlName="solicitante_id" hidden />
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Solicitante:</mat-label>
                  <input
                    matInput
                    formControlName="solicitante_nombre"
                    readonly
                    required
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    color="primary"
                    type="button"
                    (click)="modalFormPersona(modalResponsable)"
                  >
                    <mat-icon>person_search</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <div class="col-6">
                <input formControlName="recepciona_id" hidden />
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Recepcionista:</mat-label>
                  <input matInput formControlName="recepciona_nombre" />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>GLOSA:</mat-label>
                  <textarea rows="2" matInput formControlName="glosa">
                  </textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <mat-form-field
                  class="w-100"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>DOCUMENTO QUE APRUEBA:</mat-label>
                  <textarea rows="4" matInput formControlName="observacion">
                  </textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <button
                type="button"
                class="col-4 ml-auto"
                mat-raised-button
                color="primary"
                matStepperNext
              >
                Siguiente
              </button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>ITEMS</ng-template>
            <div class="col-12">
              <div class="row">
                <div class="col-8">
                  <mat-form-field
                    class="w-100"
                    color="primary"
                    appearance="outline"
                  >
                    <mat-label>BIEN:</mat-label>
                    <input
                      type="text"
                      matInput
                      [formControl]="bienSeleccionado"
                      [matAutocomplete]="bienAuto"
                    />
                    <mat-autocomplete
                      id="auto1"
                      [displayWith]="displayFn"
                      #bienAuto="matAutocomplete"
                    >
                      <mat-option
                        *ngFor="let bien of listaBienesFiltrada | async"
                        [value]="bien"
                        [disabled]="bien.saldo === '0.00'"
                      >
                        {{ bien.articulo + " (saldo: " + bien.saldo + ")" }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="col-2">
                  <button
                    type="button"
                    mat-raised-button
                    color="primary"
                    (click)="agregarBien()"
                    [disabled]="bienSeleccionado.value === ''"
                  >
                    AÑADIR BIEN
                  </button>
                </div>
                <div class="col-2">
                  <button
                    type="button"
                    mat-raised-button
                    color="primary"
                    (click)="agregarTodo()"
                  >
                    AÑADIR TODO
                  </button>
                </div>
              </div>
              <div class="row">
                <table class="table table-bordered table-hover">
                  <thead class="thead-dark">
                    <tr class="head-tablas">
                      <th>#</th>
                      <th>ARTÍCULO</th>
                      <th>SALDO</th>
                      <th>UNI. MEDIDA</th>
                      <th>CANTIDAD</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let item of items.mostrarLista(); let i = index"
                    >
                      <td>{{ i + 1 }}</td>
                      <td>{{ item.bien.articulo }}</td>
                      <td>{{ item.bien.saldo }}</td>
                      <td>{{ item.bien.uni_med }}</td>
                      <td>
                        <input
                          type="number"
                          step="0.0001"
                          color="primary"
                          class="form-control"
                          [min]="0"
                          [value]="item.cantidad"
                          [max]="item.bien.saldo"
                          (change)="
                            modificarCantidad(
                              $event,
                              item.bien.bien_id,
                              item.bien.saldo
                            )
                          "
                          [disabled]="this.tipoMovimientoDefecto === '37'"
                        />
                      </td>
                      <td>
                        <button
                          type="button"
                          mat-raised-button
                          class="btn-danger"
                          matTooltip="Quitar Bien"
                          (click)="items.eliminarBien(item.bien.bien_id)"
                        >
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-3 ml-auto">
                  <button
                    mat-raised-button
                    color="primary"
                    [disabled]="!formularioMovimiento.valid"
                  >
                    <global-font-awesome-v4
                      name="save"
                    ></global-font-awesome-v4>
                    GUARDAR
                  </button>
                </div>
              </div>
            </div>
          </mat-step>
        </div>
      </mat-horizontal-stepper>
    </form>
  </div>
</ng-template>
<!-- MODAL PARA PERSONAS -->
<ng-template #modalResponsable let-c="close" let-d="dismiss" let-modal>
  <div class="card text-center">
    <div class="card-header">
      Buscar Responsable
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cancelado')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <form [formGroup]="formBuscarPersona" (ngSubmit)="buscarPersona()">
        <div class="row">
          <div class="col-10">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>Buscar Por:</mat-label>
              <input matInput formControlName="buscar" required />
            </mat-form-field>
          </div>
          <div class="col-2">
            <btn-loading
              [disabled]="formBuscarPersona.invalid"
              btnClass="btn-primary btn-rounded  btn-block mt-3"
              [loadingText]="msgBuscando"
              [loading]="buscandoPersona"
            >
              <global-font-awesome-v4
                name="search-plus"
              ></global-font-awesome-v4>
              Buscar
            </btn-loading>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p>
              <span class="text-bold">Registros encontrados:</span>
              {{ registrosPersonas }}
            </p>
          </div>
        </div>
      </form>
      <br />
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr class="head-tablas">
            <th>CÓDIGO</th>
            <th>PERSONA</th>
            <th></th>
          </tr>
          <tr>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Id...</mat-label>
                <input
                  (keyup)="filtrarPersona()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.idPer"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Nombre...</mat-label>
                <input
                  (keyup)="filtrarPersona()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.nombrePer"
                  matInput
                />
              </mat-form-field>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <ng-container *ngIf="listadoPer as result">
            <tr
              *ngFor="
                let registro1 of result
                  | paginate
                    : {
                        id: 'paginationPersona',
                        itemsPerPage: iPageSize,
                        currentPage: pPer
                      }
              "
            >
              <td class="text-center">
                <span
                  [innerHTML]="
                    registro1.id.toString() | resaltar: campoFiltro.idPer
                  "
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="
                    registro1.nombre | resaltar: campoFiltro.nombrePer
                  "
                ></span>
              </td>
              <td class="text-right">
                <button
                  class="btn btn-outline-primary"
                  (click)="c([registro1])"
                >
                  <global-font-awesome-v4
                    name="check-circle"
                  ></global-font-awesome-v4>
                  Seleccionar
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <br />
      <pagination-controls
        id="paginationPersona"
        (pageChange)="pPer = $event"
        previousLabel="Atras"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
  </div>
</ng-template>

<ng-template #modalKardex let-modal let-d="dismiss">
  <div class="card text-center">
    <div class="card-header">
      Kardex de Bien
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cancelado')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="row mb-2">
        <div class="col-10">
          <div class="row">
            <div class="col-8">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Bien:</mat-label>
                <input
                  type="text"
                  class="text-dark"
                  [value]="bienActual.articulo"
                  readonly
                  matInput
                />
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>UNI. MEDIDA:</mat-label>
                <input
                  type="text"
                  class="text-dark"
                  [value]="bienActual.uni_med"
                  readonly
                  matInput
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>NRO. ORDEN:</mat-label>
                <input
                  type="text"
                  class="text-dark"
                  [value]="bienActual.anio"
                  readonly
                  matInput
                />
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>CÓDIGO:</mat-label>
                <input
                  type="text"
                  class="text-dark"
                  [value]="bienActual.codigo"
                  readonly
                  matInput
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
          <button
            mat-icon-button
            color="primary"
            matTooltip="Imprimir Kardex"
            [disabled]="loadingKardex"
            (click)="generarPdfKardex()"
          >
            <mat-icon>print</mat-icon>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead class="thead-dark">
                <tr class="head-tablas">
                  <th>FECHA</th>
                  <th>DOCUMENTO QUE APROBÓ</th>
                  <th>MOTIVOS</th>
                  <th>ALMACEN ORIGEN</th>
                  <th>ALMACEN DESTINO</th>
                  <th>ENTRADA</th>
                  <th>SALIDA</th>
                  <th>SALDO</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="kardexActual as result">
                  <tr
                    *ngFor="
                      let itemKardex of result
                        | paginate
                          : {
                              id: 'kardex',
                              itemsPerPage: iPageSize,
                              currentPage: pk
                            };
                      let i = index
                    "
                  >
                    <td>
                      <span
                        [innerHTML]="itemKardex.dfecha | date: 'y-M-d HH:mm a'"
                      ></span>
                    </td>
                    <td>
                      <span [innerHTML]="itemKardex.mov_observacion"></span>
                    </td>
                    <td>
                      <span [innerHTML]="'Salida: ' + itemKardex.t_mov1"></span><br>
                      <span [innerHTML]="'Entrada:' + itemKardex.t_mov2"></span>
                    </td>
                    <td>
                      <span [innerHTML]="itemKardex.origen"></span>
                    </td>
                    <td>
                      <span [innerHTML]="itemKardex.destino"></span>
                    </td>
                    <td>
                      <span [innerHTML]="itemKardex.entrada || 0"></span>
                    </td>
                    <td>
                      <span [innerHTML]="itemKardex.salida || 0"></span>
                    </td>
                    <td>
                      <span [innerHTML]="itemKardex.saldoRestante"></span>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <pagination-controls
            id="kardex"
            (pageChange)="pk = $event"
            previousLabel="Atras"
            nextLabel="Siguiente"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</ng-template>
