<div class="module-loader" *ngIf="loading">
  <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-2 border border-white bg-light">
      <div class="row m-1">
        <div class="col-sd-12">
          <div class="form-group">
            <label>Acciones</label><br />
            <button
              class="btn btn-primary btn-rounded mt-1"
              ngbTooltip="Agregar"
              (click)="modalFormOpen(modalForm)"
            >
              <global-font-awesome-v4
                name="plus-circle"
              ></global-font-awesome-v4>
              Agregar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 border border-white bg-light">
      <div class="row m-1 mt-1">
        <div class="col-md-8 p-1">
          <div class="form-group">
            <label>Exportar a:</label>
            <select
              class="form-control form-control-sm"
              [(ngModel)]="typeReport"
            >
              <option value="PDF">PDF</option>
              <option value="EXCEL">EXCEL</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 p-1">
          <br />
          <button
            ngbTooltip="Generar reporte"
            class="btn btn-primary btn-rounded btn-sm mt-1"
            (click)="downloadReport()"
          >
            <global-font-awesome-v4 name="download"></global-font-awesome-v4>
            Descargar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 border border-white bg-light">
      <div class="row m-1 mt-1">
        <div class="col-md-12 p-1">
          <h1 class="titulo text-center">{{ titulo }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card o-hidden py-2">
  <div class="col-12 table-responsive">
    <!--*ngIf="estados.length > 0"-->

    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr class="head-tablas">
          <th>FILIAL</th>
          <th>DEPENDENCIA</th>
          <th>ALMACEN</th>
          <th>ESTADO</th>
          <th>RESPONSABLE</th>
          <th>DEPENDE DE</th>
          <th>ACCIONES</th>
        </tr>
        <tr>
          <th>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Filial...</mat-label>
              <input
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                [(ngModel)]="campoFiltro.filial"
                matInput
              />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Dependencia...</mat-label>
              <input
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                [(ngModel)]="campoFiltro.dependencia"
                matInput
              />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Almacen...</mat-label>
              <input
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                [(ngModel)]="campoFiltro.nombre"
                matInput
              />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Estado...</mat-label>
              <input
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                [(ngModel)]="campoFiltro.estado"
                matInput
              />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Responsable...</mat-label>
              <input
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                [(ngModel)]="campoFiltro.responsable"
                matInput
              />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Depende de...</mat-label>
              <input
                (keyup)="filtrar()"
                type="text"
                class="text-dark"
                [(ngModel)]="campoFiltro.dependede"
                matInput
              />
            </mat-form-field>
          </th>

          <th></th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <ng-container *ngIf="listado as result">
          <tr
            *ngFor="
              let registro of result
                | paginate
                  : {
                      id: 'paginationAlmacenes',
                      itemsPerPage: iPageSize,
                      currentPage: p
                    }
            "
          >
            <td class="text-center">
              <span
                [innerHTML]="registro.filial | resaltar: campoFiltro.filial"
              ></span>
            </td>
            <td class="text-center">
              <span
                [innerHTML]="
                  registro.nombredependencia | resaltar: campoFiltro.dependencia
                "
              ></span>
            </td>
            <td class="text-center">
              <span
                [innerHTML]="registro.nombre | resaltar: campoFiltro.nombre"
              ></span>
            </td>
            <td class="text-center">
              <span
                [innerHTML]="registro.estado | resaltar: campoFiltro.estado"
              ></span>
            </td>
            <td class="text-center">
              <span
                [innerHTML]="
                  registro.responsable | resaltar: campoFiltro.responsable
                "
              ></span>
            </td>
            <td class="text-center">
              <span
                [innerHTML]="
                  registro.almdepende | resaltar: campoFiltro.dependede
                "
              ></span>
            </td>

            <td class="text-right">
              <!-- <button
                class="btn btn-outline-success"
                ngbTooltip="Editar"
                (click)="editar(modalForm, [registro])"
              >
                <global-font-awesome-v4
                  name="pencil-square-o"
                ></global-font-awesome-v4>
              </button>
              <button
                class="btn btn-outline-danger"
                ngbTooltip="Eliminar"
                (click)="eliminar([registro])"
              >
                <global-font-awesome-v4 name="trash-o"></global-font-awesome-v4>
              </button> -->
              <button
                mat-icon-button
                matTooltip="Opciones"
                [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button
                  mat-menu-item
                  (click)="mostrarModalLugares(modalLugares, [registro])"
                >
                  <mat-icon>visibility</mat-icon>
                  <span>Ver Lugares</span>
                </button>
                <button mat-menu-item (click)="editar(modalForm, [registro])">
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
                </button>
                <button
                  style="background-color: rgb(209, 7, 7)"
                  mat-menu-item
                  (click)="eliminar([registro])"
                >
                  <mat-icon>delete_forever</mat-icon>
                  <span>Eliminar</span>
                </button>
              </mat-menu>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <br />
  <pagination-controls
    id="paginationAlmacenes"
    (pageChange)="p = $event"
    previousLabel="Atras"
    nextLabel="Siguiente"
  ></pagination-controls>
</div>

<ng-template #modalForm let-modal>
  <div class="card text-center">
    <div class="card-header">
      {{ tituloForm }}
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="formulario" (ngSubmit)="guardar()">
      <div class="card-body">
        <fieldset>
          <div class="row">
            <div class="col-12">
              <span>Los campos marcados con (*) son Obligatorios!</span>

              <input type="text" formControlName="id" hidden />
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Filial:</mat-label>
                <mat-select
                  (valueChange)="filtrarDependencias($event)"
                  required
                  formControlName="idfilial"
                >
                  <mat-option
                    *ngFor="let fil of dataAlmacenes.filiales"
                    [value]="fil.id"
                  >
                    {{ fil.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Estado:</mat-label>
                <mat-select required formControlName="idestado">
                  <mat-option
                    *ngFor="let est of dataAlmacenes.estados"
                    [value]="est.id"
                  >
                    {{ est.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <input type="text" hidden formControlName="dependencia" />
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Dependencia:</mat-label>
                <input
                  type="text"
                  matInput
                  required
                  [formControl]="dependencia"
                  [matAutocomplete]="depen"
                />
                <mat-autocomplete
                  #depen="matAutocomplete"
                  (optionSelected)="seleccionarDependencia($event)"
                  [displayWith]="displayFn"
                >
                  <mat-option
                    *ngFor="let depen of listadoDependenciasFiltrado | async"
                    [value]="depen"
                  >
                    {{ depen.cDepenNombre }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Nombre:</mat-label>
                <textarea
                  matInput
                  formControlName="nombre"
                  required
                  rows="3"
                ></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <input formControlName="idresponsable" hidden />
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Responsable:</mat-label>
                <input matInput formControlName="responsable" required />
                <button
                  mat-icon-button
                  matSuffix
                  color="primary"
                  type="button"
                  (click)="modalFormPersona(modalResponsable)"
                >
                  <mat-icon>person_search</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              Si es un Almacén Secundario, elige al Almacén primario del cual va
              a depender.
            </div>
            <div class="col-8">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Almacén Principal:</mat-label>
                <mat-select formControlName="idalmacenprincipal">
                  <mat-option
                    *ngFor="let pri of listadoPrincipales"
                    [value]="pri.id"
                  >
                    {{ pri.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>MOTIVO DE CAMBIO:</mat-label>
                <textarea matInput row="3" formControlName="motivo"></textarea>
              </mat-form-field>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="card-footer text-muted">
        <div class="row">
          <div class="col-md-4 offset-md-6">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!formulario.valid"
            >
              <global-font-awesome-v4 name="save"></global-font-awesome-v4>
              Guardar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #modalResponsable let-c="close" let-d="dismiss" let-modal>
  <div class="card text-center">
    <div class="card-header">
      Buscar Responsable
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cancelado')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="formBuscarPersona" (ngSubmit)="buscarPersona()">
      <div class="row">
        <div class="col-10">
          <mat-form-field class="w-100" color="primary" appearance="outline">
            <mat-label>Buscar Por:</mat-label>
            <input matInput formControlName="buscar" required />
          </mat-form-field>
        </div>
        <div class="col-2">
          <btn-loading
            [disabled]="formBuscarPersona.invalid"
            btnClass="btn-primary btn-rounded  btn-block mt-3"
            [loadingText]="msgBuscando"
            [loading]="loading"
          >
            <global-font-awesome-v4 name="search-plus"></global-font-awesome-v4>
            Buscar
          </btn-loading>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>
            <span class="text-bold">Registros encontrados:</span>
            {{ registrosPersonas }}
          </p>
        </div>
      </div>
    </form>
    <br />
    <table class="table table-bordered table-hover">
      <thead class="thead-dark">
        <tr class="head-tablas">
          <th>CÓDIGO</th>
          <th>PERSONA</th>
          <th></th>
        </tr>
        <tr>
          <th>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Id...</mat-label>
              <input
                (keyup)="filtrarPersona()"
                type="text"
                class="text-dark"
                [(ngModel)]="campoFiltro.idPer"
                matInput
              />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field color="primary" appearance="outline">
              <mat-label>Filtro Nombre...</mat-label>
              <input
                (keyup)="filtrarPersona()"
                type="text"
                class="text-dark"
                [(ngModel)]="campoFiltro.nombrePer"
                matInput
              />
            </mat-form-field>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <ng-container *ngIf="listadoPer as result">
          <tr
            *ngFor="
              let registro1 of result
                | paginate
                  : {
                      id: 'paginationPersona',
                      itemsPerPage: iPageSize,
                      currentPage: pE
                    }
            "
          >
            <td class="text-center">
              <span
                [innerHTML]="
                  registro1.id.toString() | resaltar: campoFiltro.idPer
                "
              ></span>
            </td>
            <td class="text-center">
              <span
                [innerHTML]="registro1.nombre | resaltar: campoFiltro.nombrePer"
              ></span>
            </td>
            <td class="text-right">
              <button class="btn btn-outline-primary" (click)="c([registro1])">
                <global-font-awesome-v4
                  name="check-circle"
                ></global-font-awesome-v4>
                Seleccionar
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <br />
    <pagination-controls
      id="paginationPersona"
      (pageChange)="pE = $event"
      previousLabel="Atras"
      nextLabel="Siguiente"
    ></pagination-controls>
  </div>
</ng-template>
<ng-template #modalPedidos let-c="close" let-d="dismiss" let-modal>
  <div class="module-loader" *ngIf="loadingPedidos">
    <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
  </div>
  <div class="card text-center">
    <div class="card-header">
      LISTA DE PEDIDOS
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cancelado')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive" *ngIf="!loadingPedidos">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr class="head-tablas">
            <th>AÑO</th>
            <th>TIPO BIEN</th>
            <th>NRO PEDIDO</th>
            <th>MOTIVO PEDIDO</th>
            <th>FECHA PEDIDO</th>
            <th>NOMBRE EMPLEADO</th>
            <th></th>
          </tr>
          <tr>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Año...</mat-label>
                <input
                  (keyup)="filtrarPedidos()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.ano_eje"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Tipo...</mat-label>
                <input
                  (keyup)="filtrarPedidos()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.tipo_bien"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Nro Pedido...</mat-label>
                <input
                  (keyup)="filtrarPedidos()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.nro_pedido"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Motivo...</mat-label>
                <input
                  (keyup)="filtrarPedidos()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.motivo_pedido"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Fecha...</mat-label>
                <input
                  (keyup)="filtrarPedidos()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.fecha_pedido"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Empleado...</mat-label>
                <input
                  (keyup)="filtrarPedidos()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.empleado"
                  matInput
                />
              </mat-form-field>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <ng-container *ngIf="listadoPedidosFiltrado as resultPedidos">
            <tr
              *ngFor="
                let pedido of resultPedidos
                  | paginate
                    : {
                        id: 'pagiPedidos',
                        itemsPerPage: iPageSize,
                        currentPage: pP
                      }
              "
            >
              <td class="text-center">
                <span
                  [innerHTML]="pedido.ano_eje | resaltar: campoFiltro.ano_eje"
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="
                    pedido.tipo_bien | resaltar: campoFiltro.tipo_bien
                  "
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="
                    pedido.nro_pedido | resaltar: campoFiltro.nro_pedido
                  "
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="
                    pedido.motivo_pedido | resaltar: campoFiltro.motivo_pedido
                  "
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="
                    pedido.fecha_pedido
                      | date: 'yyyy-MM-dd'
                      | resaltar: campoFiltro.fecha_pedido
                  "
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="
                    pedido.nombre_empleado | resaltar: campoFiltro.empleado
                  "
                ></span>
              </td>
              <td class="text-right">
                <button class="btn btn-outline-primary" (click)="c([pedido])">
                  <global-font-awesome-v4
                    name="check-circle"
                  ></global-font-awesome-v4>
                  Seleccionar
                </button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <br />
    <pagination-controls
      id="pagiPedidos"
      (pageChange)="pP = $event"
      previousLabel="Atras"
      nextLabel="Siguiente"
    ></pagination-controls>
  </div>
</ng-template>
<ng-template #modalLugares let-c="close" let-d="dismiss">
  <div class="card text-center">
    <div class="card-header">
      MIGRAR NEAS
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <table class="table">
        <thead class="thead-dark">
          <tr class="head-tablas">
            <th>NOMBRE</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lugar of lugares">
            <td class="text-center">
              <span [innerHTML]="lugar.lugar_nombre"></span>
            </td>
            <td class="text-center">
              <button mat-raised-button color="primary">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
