<div class="module-loader" *ngIf="loading">
  <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>
<div class="col-md-12 mb-2">
  <div class="row">
    <div
      class="d-flex align-items-center col-md-8 border border-white bg-light"
    >
      <div class="col-auto">
        <button
          class="w-100"
          mat-raised-button
          color="primary"
          (click)="cargarNeas()"
        >
          CARGAR DATOS
          <mat-icon>syncro</mat-icon>
        </button>
      </div>
      <div class="col-auto">
        <button
          class="w-100"
          mat-raised-button
          color="primary"
          (click)="mostrarFormularioAceptacionNea(modalActualizarNea)"
        >
          ACTUALIZAR NEA <mat-icon>assignment_turned_in</mat-icon>
        </button>
      </div>
      <div class="col-auto">
        <button
          class="w-100"
          mat-raised-button
          color="primary"
          matTooltip="IMPRIMIR"
          (click)="mostrarFormularioAceptacionNea(modalFormatoNea)"
        >
          FORMATO DE NEA
          <mat-icon>print</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-md-4 border border-white bg-light">
      <div class="row m-1 mt-1">
        <div class="col-md-12 p-1">
          <h1 class="titulo text-center">{{ titulo }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card o-hidden">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr class="head-tablas">
            <th>NRO NEA</th>
            <th>LUGAR</th>
            <th>CÓDIGO</th>
            <th>ARTÍCULO</th>
            <th>UNI. MEDIDA</th>
            <th>CUENTA</th>
            <th>TIPO DE USO</th>
            <th>MARCA</th>
            <th>CANT. TOTAL</th>
            <th>PRECIO UNITARIO</th>
            <th>COSTO TOTAL</th>
            <!-- <th>ACCIONES</th> -->
          </tr>
          <tr>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Nro NEA...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.nro_nea"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Lugar...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.lugar_nombre"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Código...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.codigo"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Artículo...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.articulo"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Uni. Medida...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.uni_medida"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Cuenta...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.cuenta"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Tipo Uso...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.tipo_uso"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Marca...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.marca"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Cant. Total...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.cant_total"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Precio Uni....</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.precio"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Costo Total....</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.costo"
                  matInput
                />
              </mat-form-field>
            </th>
            <!-- <th></th> -->
          </tr>
        </thead>
        <tbody class="table-hover">
          <ng-container *ngIf="listaNeas as result">
            <tr
              *ngFor="
                let registro of result
                  | paginate
                    : {
                        id: 'movimientos',
                        itemsPerPage: iPageSize,
                        currentPage: p
                      }
              "
            >
              <td class="text-center">
                <span
                  [innerHTML]="registro.NRO_NEA | resaltar: campoFiltro.nro_nea"
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="
                    registro.lugar | resaltar: campoFiltro.lugar_nombre
                  "
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="registro.codigo | resaltar: campoFiltro.codigo"
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="registro.bien | resaltar: campoFiltro.articulo"
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="
                    registro.und_medida | resaltar: campoFiltro.uni_medida
                  "
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="registro.cuenta | resaltar: campoFiltro.cuenta"
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="
                    registro.tipo_uso | resaltar: campoFiltro.tipo_uso
                  "
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="registro.marca | resaltar: campoFiltro.marca"
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="
                    registro.cant_total | resaltar: campoFiltro.cant_total
                  "
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="
                    registro.precio_unit | resaltar: campoFiltro.precio
                  "
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="
                    registro.valor_total | resaltar: campoFiltro.costo
                  "
                ></span>
              </td>
              <!-- <td class="text-right">
                <button
                  mat-icon-button
                  matTooltip="Opciones"
                  [matMenuTriggerFor]="menu"
                  aria-label="Example icon-button with a menu"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button
                    mat-menu-item
                    (click)="mostrarDetalles(modalDetalles, registro)"
                  >
                    <mat-icon>visibility</mat-icon>
                    <span>Ver Detalle</span>
                  </button>
                </mat-menu>
              </td> -->
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <br />
    <pagination-controls
      (pageChange)="p = $event"
      previousLabel="Atras"
      nextLabel="Siguiente"
      id="movimientos"
    ></pagination-controls>
  </div>
</div>

<ng-template #modalActualizarNea let-modal let-d="dismiss" let-c="close">
  <div class="card text-center">
    <div class="card-header">
      ACTUALIZACIÓN DE NEA
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cancelado')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <form [formGroup]="actualizacionForm" (ngSubmit)="actualizarNea()">
        <div class="row">
          <div class="col-12">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>NEA:</mat-label>
              <mat-select formControlName="n_nea_old">
                <mat-option
                  [value]="nea"
                  *ngFor="let nea of listaNeasFiltradas"
                >
                  {{ nea }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>NUEVO NÚMERO NEA (SIGA):</mat-label>
              <input
                type="text"
                formControlName="n_nea_new"
                class="text-dark"
                matInput
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button
              mat-raised-button
              [disabled]="!actualizacionForm.valid"
              color="primary"
              type="submit"
            >
              ACTUALIZAR NEA
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
<ng-template #modalDetalles let-modal>
  <div class="card text-center">
    <div class="card-header">
      DETALLES DE MOVIMIENTO
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="row mb-2">
        <div class="col-md-3 col-sm-6 d-flex align-items-center">
          <mat-form-field class="w-100" color="primary" appearance="outline">
            <mat-label>PECOSA:</mat-label>
            <input type="text" matInput [(ngModel)]="pecosaActual" />
          </mat-form-field>
        </div>
        <div class="col-md-3 col-sm-6 d-flex align-items-center">
          <mat-form-field class="w-100" color="primary" appearance="outline">
            <mat-label>FECHA PECOSA:</mat-label>
            <input type="date" matInput [(ngModel)]="fechaPecosa" />
          </mat-form-field>
        </div>
        <div class="col-md-4 col-sm-8 d-flex align-items-center">
          <mat-form-field class="w-100" color="primary" appearance="outline">
            <mat-label>LUGAR:</mat-label>
            <mat-select [(ngModel)]="lugarDestino">
              <mat-optgroup
                *ngFor="let almacen of almacenes"
                [label]="almacen.nombre"
              >
                <mat-option
                  *ngFor="let lugar of almacen.lugares"
                  [value]="lugar.lugar_id"
                >
                  {{ lugar.lugar_nombre }}
                </mat-option>
              </mat-optgroup>
            </mat-select>
            <mat-error>Seleccione un lugar...</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-2 col-sm-4 d-flex align-items-center">
          <mat-form-field class="w-100" color="primary" appearance="outline">
            <mat-label>FECHA:</mat-label>
            <input type="date" matInput [(ngModel)]="fechaDetalles" />
          </mat-form-field>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered w-100">
          <thead class="thead-dark">
            <tr class="head-tablas">
              <th>
                <mat-checkbox
                  *ngIf="movimientoSeleccionado.tipo_mov === 'I'"
                  color="primary"
                  [(ngModel)]="salidaTodos"
                  (change)="seleccionarTodo($event)"
                ></mat-checkbox>
              </th>
              <th>#</th>
              <th>CLASIFICADOR</th>
              <th>CUENTA CONTABLE</th>
              <th>ARTÍCULO</th>
              <th>UNI. MEDIDA</th>
              <th>PRECIO UNITARIO</th>
              <th>CANT. O/C</th>
              <th *ngIf="movimientoSeleccionado.iLugarId !== null">
                CANT. TRANSF.
              </th>
              <th>VALOR TOTAL</th>
              <th *ngIf="movimientoSeleccionado.tipo_mov === 'I'">
                CANT. DE SALIDA
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="detallesMovimiento as result">
              <tr
                *ngFor="
                  let item of result
                    | paginate
                      : {
                          id: 'pagDetalleMov',
                          itemsPerPage: iPageSize,
                          currentPage: pDM
                        };
                  let i = index
                "
              >
                <td class="text-center">
                  <mat-checkbox
                    color="primary"
                    [checked]="item.elegido"
                    (change)="
                      seleccionarDetalleMovimiento($event, item.iSIGADetalleId)
                    "
                  ></mat-checkbox>
                </td>
                <td class="text-center">
                  <span [innerHTML]="i + 1 + (pDM - 1) * iPageSize"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.CLASIFICADOR"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.MAYOR + '.' + item.SUB_CTA"></span>
                </td>
                <td class="text-left">
                  <span [innerHTML]="item.articulo"></span>
                </td>
                <td class="text-left">
                  <span [innerHTML]="item.uni_med"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.PRECIO_UNIT"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.CANT_ARTICULO"></span>
                </td>
                <td
                  class="text-center"
                  *ngIf="movimientoSeleccionado.iLugarId !== null"
                >
                  <span [innerHTML]="item.CANT_MOVIDA"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.VALOR_TOTAL"></span>
                </td>
                <td *ngIf="movimientoSeleccionado.tipo_mov === 'I'">
                  <input
                    color="primary"
                    class="input_cantidad"
                    type="number"
                    min="0"
                    step="0.00001"
                    [value]="item.cantidad_seleccionada"
                    [max]="
                      item.CANT_ARTICULO -
                      (item.CANT_MOVIDA !== null ? item.CANT_MOVIDA : 0)
                    "
                    (change)="
                      modificarCantidad(
                        $event,
                        item.iSIGADetalleId,
                        item.CANT_ARTICULO -
                          (item.CANT_MOVIDA !== null ? item.CANT_MOVIDA : 0)
                      )
                    "
                  />
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <pagination-controls
        id="pagDetalleMov"
        (pageChange)="pDM = $event"
        previousLabel="Atras"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
    <div class="card-footer">
      <div class="ml-auto col-md-3 col-sm-6 d-flex align-items-center">
        <button
          (click)="darSalidaTodo()"
          class="w-100"
          type="button"
          [disabled]="validarAlgunElemento()"
          mat-raised-button
          color="primary"
        >
          <span>Dar Salida </span>
          <mat-icon>domain</mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #modalFormatoNea let-modal let-d="dismiss" let-c="close">
  <div class="card text-center">
    <div class="card-header">
      GENERAR FORMATO DE PDF
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="d('Cancelado')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <form [formGroup]="formatoNea" (ngSubmit)="descargarPDF()">
        <div class="row">
          <div class="col-12">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>NEA:</mat-label>
              <mat-select formControlName="n_nea">
                <mat-option
                  *ngFor="let nea of listaNeasFiltradas"
                  [value]="nea"
                >
                  {{ nea }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button
              mat-raised-button
              [disabled]="!formatoNea.valid"
              color="primary"
              type="submit"
            >
              GENERAR FORMATO
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
