<div class="module-loader" *ngIf="loading">
    <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
  </div>
  <div class="col-md-12">
      <div class="row" >  
          <div class="col-md-2  border border-white bg-light">
            <div class="row m-1">
              <div class="col-sd-12">
                <div class="form-group">
                  <label>Acciones</label><br>
                  <button class="btn btn-primary btn-rounded  mt-1" 
                    ngbTooltip="Agregar" (click)="modalFormOpen(modalForm)">
                    <global-font-awesome-v4 name="plus-circle"></global-font-awesome-v4>
                  Agregar
                  </button>                    
                </div>                
              </div>              
            </div> 
          </div> 
          <div class="col-md-4 border border-white bg-light">
              <div class="row m-1 mt-1">
                  <div class="col-md-8 p-1">
                      <div class="form-group">
                          <label>Exportar a:</label>
                          <select class="form-control form-control-sm" [(ngModel)]="typeReport">
                            <option value="PDF">PDF</option>
                            <option value="EXCEL">EXCEL</option>
                            
                          </select>
                      </div>
                  </div> 
                  <div class="col-md-4 p-1">
                      <br>
                      <button ngbTooltip="Generar reporte" class="btn btn-primary btn-rounded btn-sm mt-1" (click)="downloadReport()">
                        <global-font-awesome-v4 name="download"></global-font-awesome-v4> Descargar
                      </button>
                    </div>                                
              </div>
            </div>          
            <div class="col-md-6 border border-white bg-light">
                <div class="row m-1 mt-1">
                  <div class="col-md-12 p-1">
                    <h1 class="titulo"> {{titulo}}</h1>                                 
                  </div>
                </div>
              </div>
        </div>
    </div>
    
    <div class="col-12" ><!--*ngIf="estados.length > 0"-->
  
      <table class="table table-bordered table-hover">
          <thead class="thead-dark">
              
              <tr class="btn-primary">
                  <th>CÓDIGO</th>
                  <th>TIPO DE VEHÍCULO</th>
                  <th></th>
    
              </tr>
              <tr class="btn-primary">
                <th>
                <input type="text" (keyup)="filtrar()" class="form-control form-control-sm" placeholder="Filtro Id..." [(ngModel)]="campoFiltro.id">
              </th>
              <th>
                <input type="text" (keyup)="filtrar()" class="form-control form-control-sm" placeholder="Filtro Tipo..." [(ngModel)]="campoFiltro.nombre">
              </th>
              
                <th></th>
  
            </tr>
          </thead>
          <tbody class="table-hover">
            <ng-container *ngIf="(listado) as result">
    
              <tr *ngFor="let registro of result|  paginate: { itemsPerPage: iPageSize, currentPage: p }">
                  <td class="text-center">
                    <span [innerHTML]="registro.id.toString() | resaltar: campoFiltro.id"></span>
                  </td>
                  <td class="text-center">
                    <span [innerHTML]="registro.nombre | resaltar: campoFiltro.nombre"></span>
                  </td>
                  
                  
                 <td class="text-right">
                      <button class="btn btn-outline-success" ngbTooltip="Editar"  (click)="editar(modalForm,[registro])"><global-font-awesome-v4 name="pencil-square-o"></global-font-awesome-v4></button> 
                      <button class="btn btn-outline-danger" ngbTooltip="Eliminar"  (click)="eliminar([registro])"><global-font-awesome-v4 name="trash-o"></global-font-awesome-v4></button>
                  </td>
              </tr>
            </ng-container>
    
          </tbody>
          
      </table>
      <br>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      
    </div>
  
    <ng-template #modalForm let-modal>
      <div class="card text-center">
        <div class="card-header">
          {{tituloForm}}
          <button type="button"   class="close text-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
  
        </div>
        <form [formGroup]="formulario" (ngSubmit)="guardar()">
        <div class="card-body">
          
          <fieldset>
            <div class="row">
            <div class="col-12">
              <span>Los campos marcados con (*) son Obligatorios!</span>
              <input type="text" formControlName="id" hidden>
              <div class="form-group">
                <label>Nombre: (*)</label>
                <input class="form-control" type="text" formControlName="nombre" required>
              </div>
              </div>
            </div>
              
          </fieldset>
        
        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="col-md-4 offset-md-6"> 
              <button class="btn btn-outline-primary" type="submit" 
                [disabled]="!formulario.valid">
                <global-font-awesome-v4 name="save"></global-font-awesome-v4>
                Guardar
              </button>
            </div>
        </div>
        </div>
      </form>
      </div>
  
      
      
    </ng-template>