<div class="main-header">
  <!--<div class="main-header" [ngStyle]="{background: 'url(./assets/images/bg.png)'}" >-->
  <a class="logo text-center" routerLink="/">
    <img src="./assets/images/logo-white.png" alt="" />
  </a>

  <div class="menu-toggle" (click)="toggelSidebar()">
    <img src="./assets/images/iconos/menu-top.svg" width="35" alt="" />
  </div>
  <div class="header-part-left d-flex align-items-center">
    <div
      ngbDropdown
      [placement]="'bottom-left'"
      class="d-sm-none d-lg-inline-block d-flex"
    >
      <h5 class="tmodulo-md">&nbsp;&nbsp; {{ nombreModulo }}</h5>
      <span class="nombre_almacen">{{ navService.almacenElegido }} </span>
    </div>
    <div class="d-sm-none d-md-inline-block">
      <span class="tituloVariable">
        <strong> Año de Trabajo: &nbsp;&nbsp;&nbsp; </strong>
      </span>
      <select (change)="updateAnio()" [(ngModel)]="txtAnio">
        <option [value]="dato.iYearId" *ngFor="let dato of anios">
          {{ dato.iYearId }}
        </option>
      </select>
    </div>
  </div>
  <div style="margin: auto"></div>

  <div class="header-part-right">
    <!-- <div
        ngbDropdown
        [placement]="'bottom-right'"
        class="d-none d-sm-inline-block text-yellow"
      >
        <i ngbDropdownToggle class="i-Gear header-icon" role="button"></i>
        <div ngbDropdownMenu class="menu-icon-grid-dropdown">
          <div class="menu-icon-grid">
            <a routerLink="/tablas-maestras/oc"
              ><i class="i-Box-Full"></i> Nuevas O/C</a
            >
            <a routerLink="/tablas-maestras/siga"
              ><i class="i-Data-Download"></i> Sincronizar con SIGA</a
            >
            <a routerLink="/tablas-maestras/herramientas"
              ><i class="i-Check"></i> Herramientas</a
            >
          </div>
        </div>
      </div> -->

    <div
      ngbDropdown
      [placement]="'bottom-right'"
      class="d-none d-sm-inline-block mr-4"
      *ngIf="listaCartasFianzaAlerta.length > 0"
    >
      <div
        class="badge-top-container"
        style="background-color: white; border-radius: 10px"
      >
        <span class="badge badge-primary">{{ numAlert }}</span>
        <i
          ngbDropdownToggle
          style="width: 60px"
          role="button"
          alt=""
          class="i-Bell text-muted header-icon dropdown-toggle"
          (click)="limpiarAlerta(); listarCartasFianzaAlertas()"
        ></i>
      </div>
      <div
        ngbDropdownMenu
        class="notification-dropdown bg-white"
        style="overflow-x: auto"
      >
        <div class="bg-light p-2 text-danger border-light">
          Cartas de Fianza por vencer |
          <a href="/cartas-fianza/principal">Ir a cartas Fianza</a>
        </div>
        <div
          class="dropdown-item border-light"
          tabindex="0"
          *ngFor="let list of listaCartasFianzaAlerta"
          style="width: 550px"
        >
          <div class="col-md-12">
            <!-- <div  class="notification-icon" style="width: 50px;">
                              <i  class="i-Receipt-3 text-success mr-1"></i>
                          </div> -->
            <strong>N°:</strong>{{ list.cCartaFianzaNumero }}<br />
            <strong>Fecha.Vencimiento:</strong
            >{{ list.dCartaFianzaDetVencimiento }}<br />
            <strong>RUC:</strong>{{ list.cRuc_Persona }}-{{
              list.cNombre_Persona
            }}<br />
          </div>
        </div>
      </div>
    </div>
    <div
      ngbDropdown
      [placement]="'bottom-right'"
      class="user col align-self-end"
    >
      <div class="badge-top-container">
        <small class="d-none d-sm-inline-block"
          ><strong class="text-white">{{ nombres }}</strong
          ><br /><strong class="text-white d-sm-inline-block d-md-none">{{
            navService.almacenElegido
          }}</strong></small
        >
        <img
          class="ml-2"
          ngbDropdownToggle
          src="./assets/images/iconos/user.svg"
          width="30"
          alt=""
        />
      </div>
      <div ngbDropdownMenu>
        <!-- <div class="menu-icon-grid"> -->
        <button
          class="d-md-none d-sm-inline-block dropdown-item"
          (click)="modalOpen(aniotrabajo)"
        >
          Cambiar Año
        </button>
        <button class="dropdown-item" (click)="cambiarAlmacen()">
          Cambiar Almacén
        </button>
        <button class="dropdown-item" (click)="signout()">
          <!-- <mat-icon>login</mat-icon> -->
          <!-- <img
                                  class=""
                                  src="./assets/images/iconos/out.svg"
                                  style="width: 30px; margin-bottom: 5px;"
                                  id="userDropdown"
                                  alt=""
                                /> -->
          Salir
        </button>
        <!-- </div> -->
      </div>
    </div>
    <!--<div ngbDropdown [placement]="'bottom-right'" class="d-none d-sm-inline-block ml-4">
              <img ngbDropdownToggle src="./assets/images/iconos/menu.svg" style="width:20px" role="button" alt="">
              <div ngbDropdownMenu class="menu-icon-grid-dropdown">
                  <div class="menu-icon-grid">
                      <a href="#"><i class="i-Shop-4"></i> Biblioteca</a>
                      <a href="#"><i class="i-Library"></i>Aula Virtual</a>
                      <a href="#"><i class="i-Drop"></i> Apps</a>
                      <a href="#"><i class="i-File-Clipboard-File--Text"></i> Forms</a>   
                      <a href="#"><i class="i-Checked-User"></i> Sessions</a>
                      <a href="#"><i class="i-Ambulance"></i> Support</a>
                  </div>
              </div>
          </div>-->
    <!-- <div
        ngbDropdown
        [placement]="'bottom-right'"
        class="col align-self-end ml-4 mr-4 d-none d-sm-inline-block"
      >
        <a (click)="signout()" class="img-icon">
          <img
            class=""
            src="./assets/images/iconos/out.svg"
            style="width: 30px; margin-bottom: 5px;"
            id="userDropdown"
            alt=""
          />
        </a>
      </div> -->
  </div>
</div>
<div class="module-loader" *ngIf="loading">
  <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>
<!-- <div ngbDropdown [placement]="'bottom-right'" class="user col align-self-end">
          <img *ngIf="codigo != '' " src="http://172.16.1.200/dasa-urc/fotos_u//{{codigo}}.jpg" id="userDropdown" ngbDropdownToggle alt="">
          <img *ngIf="codigo == '' " src="./assets/images/faces/1.jpg" id="userDropdown" ngbDropdownToggle alt="">
      <div ngbDropdownMenu aria-labelledby="userDropdown" class="header-account-dropdown">
          <div class="dropdown-header">
              <b>{{ nombres }}</b> 
          </div>
          <button class="dropdown-item" routerLink="/">Mi Perfil</button>
          <button class="dropdown-item" (click)="signout()">Salir</button>
      </div>
  </div> -->
<ng-template let-modal #aniotrabajo>
  <div class="card">
    <div class="card-body">
      <div class="">
        <span class="tituloVariable">
          <strong> Año de Trabajo: &nbsp;&nbsp;&nbsp; </strong>
        </span>
        <select (change)="updateAnio()" [(ngModel)]="txtAnio">
          <option [value]="dato.iYearId" *ngFor="let dato of anios">
            {{ dato.iYearId }}
          </option>
        </select>
      </div>
    </div>
  </div>
</ng-template>
<ng-template let-modal #almacenModal let-c="close">
  <div class="card">
    <div class="card-header text-center">
      ELEGIR ALMACEN
      <button
        type="button"
        class="close text-white"
        (click)="c()"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body p-4">
      <mat-form-field class="w-100" color="primary" appearance="fill">
        <mat-label>ALMACEN:</mat-label>
        <mat-select (selectionChange)="elegirAlmacen($event)">
          <mat-option *ngFor="let alm of almacenes" [value]="alm">
            {{ alm.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</ng-template>
