<div class="module-loader" *ngIf="loading">
  <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>
<div class="col-md-12 mb-2">
  <div class="row">
    <div
      class="d-flex align-items-center flex-column col-md-6 border border-white bg-light"
    >
      <mat-form-field class="w-100" color="primary" appearance="fill">
        <mat-label>LUGAR:</mat-label>
        <mat-select
          [(ngModel)]="lugarTodo"
          (selectionChange)="filtrarXLugares($event)"
        >
          <mat-option *ngFor="let lugar of listaLugares" [value]="lugar">
            {{ lugar.lugar_nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button
        class="w-100"
        mat-raised-button
        color="primary"
        [disabled]="lugarTodo === null"
        (click)="filtrarXLugares({ value: lugarTodo })"
      >
        CARGAR DATOS
      </button>
    </div>
    <div class="col-md-6 border border-white bg-light">
      <div class="row m-1 mt-1">
        <div class="col-md-12 p-1">
          <h1 class="titulo text-center">{{ titulo }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card o-hidden">
  <mat-tab-group color="primary" backgroundColor="primary">
    <mat-tab label="VALES AUTORIZADOS">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead class="thead-dark">
              <tr class="head-tablas">
                <th>FECHA VALE</th>
                <th>NRO VALE</th>
                <th>CHOFER</th>
                <th>BREVETE</th>
                <th>PLACA</th>
                <th>TIPO DE VEHÍCULO</th>
                <th>DESTINO</th>
                <th>ACCIONES</th>
              </tr>
              <tr>
                <th>
                  <mat-form-field color="primary" appearance="outline">
                    <mat-label>Filtro Fecha...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.fecha_vale"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field color="primary" appearance="outline">
                    <mat-label>Filtro Nro Vale...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.num_vale"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field color="primary" appearance="outline">
                    <mat-label>Filtro Chofer...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.chofer"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field color="primary" appearance="outline">
                    <mat-label>Filtro Brevete...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.brevete"
                      matInput
                    />
                  </mat-form-field>
                </th>

                <th>
                  <mat-form-field color="primary" appearance="outline">
                    <mat-label>Filtro Placa...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.placa"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field color="primary" appearance="outline">
                    <mat-label>Filtro Tipo Vehículo...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.t_vehi"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field color="primary" appearance="outline">
                    <mat-label>Filtro Destino...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.destino"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody class="table-hover">
              <ng-container *ngIf="listaAutorizados as result">
                <tr
                  *ngFor="
                    let registro of result
                      | paginate
                        : {
                            id: 'autorizados',
                            itemsPerPage: iPageSize,
                            currentPage: pA
                          }
                  "
                >
                  <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.num_vale | resaltar: campoFiltro.num_vale
                      "
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.chofer | resaltar: campoFiltro.chofer
                      "
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.brevete | resaltar: campoFiltro.brevete
                      "
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="registro.placa | resaltar: campoFiltro.placa"
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.t_vehi | resaltar: campoFiltro.t_vehi
                      "
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.destino | resaltar: campoFiltro.destino
                      "
                    ></span>
                  </td>
                  <td class="text-right">
                    <button
                      mat-icon-button
                      matTooltip="Opciones"
                      [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with a menu"
                    >
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button
                        mat-menu-item
                        (click)="mostrarDetalles(modalDetalles, registro)"
                      >
                        <mat-icon>visibility</mat-icon>
                        <span>Ver Detalle</span>
                      </button>
                    </mat-menu>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <br />
        <pagination-controls
          (pageChange)="pA = $event"
          previousLabel="Atras"
          nextLabel="Siguiente"
          id="autorizados"
        ></pagination-controls>
      </div>
    </mat-tab>
    <mat-tab label="VALES POR AUTORIZAR">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead class="thead-dark">
              <tr class="head-tablas">
                <th>FECHA VALE</th>
                <th>CHOFER</th>
                <th>BREVETE</th>
                <th>PLACA</th>
                <th>TIPO DE VEHÍCULO</th>
                <th>DESTINO</th>
                <!-- <th>ACCIONES</th> -->
              </tr>
              <tr>
                <th>
                  <mat-form-field color="primary" appearance="outline">
                    <mat-label>Filtro Fecha...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.fecha_vale"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field color="primary" appearance="outline">
                    <mat-label>Filtro Chofer...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.chofer"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field color="primary" appearance="outline">
                    <mat-label>Filtro Brevete...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.brevete"
                      matInput
                    />
                  </mat-form-field>
                </th>

                <th>
                  <mat-form-field color="primary" appearance="outline">
                    <mat-label>Filtro Placa...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.placa"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field color="primary" appearance="outline">
                    <mat-label>Filtro Tipo Vehículo...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.t_vehi"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field color="primary" appearance="outline">
                    <mat-label>Filtro Destino...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.destino"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <!-- <th></th> -->
              </tr>
            </thead>
            <tbody class="table-hover">
              <ng-container *ngIf="listaPendientes as result">
                <tr
                  *ngFor="
                    let registro of result
                      | paginate
                        : {
                            id: 'porautorizar',
                            itemsPerPage: iPageSize,
                            currentPage: pP
                          }
                  "
                >
                  <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.fecha_vale | resaltar: campoFiltro.fecha_vale
                      "
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.chofer | resaltar: campoFiltro.chofer
                      "
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.brevete | resaltar: campoFiltro.brevete
                      "
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="registro.placa | resaltar: campoFiltro.placa"
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.t_vehi | resaltar: campoFiltro.t_vehi
                      "
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.destino | resaltar: campoFiltro.destino
                      "
                    ></span>
                  </td>
                  <!-- <td class="text-right">
                    <button
                      mat-icon-button
                      matTooltip="Opciones"
                      [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with a menu"
                    >
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button
                        mat-menu-item
                        (click)="mostrarDetalles(modalDetalles, registro)"
                      >
                        <mat-icon>visibility</mat-icon>
                        <span>Ver Detalle</span>
                      </button>
                    </mat-menu>
                  </td> -->
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <br />
        <pagination-controls
          (pageChange)="pP = $event"
          previousLabel="Atras"
          nextLabel="Siguiente"
          id="porautorizar"
        ></pagination-controls>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
