<div class="module-loader" *ngIf="loading">
  <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>
<div class="col-md-12 mb-2">
  <div class="row">
    <div
      class="d-flex align-items-center flex-column col-md-8 border border-white bg-light"
    >
      <div class="col-12 d-flex">
        <mat-form-field class="w-50" color="primary" appearance="fill">
          <mat-label>LUGAR:</mat-label>
          <mat-select
            [(ngModel)]="lugarTodo"
            (selectionChange)="filtrarXLugares($event)"
          >
            <mat-option *ngFor="let lugar of listaLugares" [value]="lugar">
              {{ lugar.lugar_nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="col-auto d-flex align-items-center">
          <button matTooltip="IMPRIMIR NEAS" (click)="downloadPdf()" mat-raised-button color="primary">
            <mat-icon>print</mat-icon>
          </button>
        </div>
        <!-- <mat-form-field class="w-25 ml-auto" color="primary" appearance="fill">
          <mat-label>NRO NEA:</mat-label>
          <input [(ngModel)]="nroNea" matInput />
        </mat-form-field> -->
      </div>
      <button
        class="w-100"
        mat-raised-button
        color="primary"
        [disabled]="lugarTodo === null"
        (click)="filtrarXLugares({ value: lugarTodo })"
      >
        CARGAR DATOS
      </button>
    </div>
    <div class="col-md-4 border border-white bg-light">
      <div class="row m-1 mt-1">
        <div class="col-md-12 p-1">
          <h1 class="titulo text-center">{{ titulo }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card o-hidden">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr class="head-tablas">
            <th>NRO NEA</th>
            <th>CÓDIGO</th>
            <th>ARTÍCULO</th>
            <th>UNI. MEDIDA</th>
            <th>CUENTA</th>
            <th>TIPO DE USO</th>
            <th>MARCA</th>
            <th>CANT. TOTAL</th>
            <th>PRECIO UNITARIO</th>
            <th>COSTO TOTAL</th>
          </tr>
          <tr>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Nro NEA...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.nro_nea"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Código...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.codigo"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Artículo...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.articulo"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Uni. Medida...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.uni_medida"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Cuenta...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.cuenta"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Tipo Uso...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.tipo_uso"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Marca...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.marca"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Cant. Total...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.cant_total"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Precio Uni....</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.precio"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Costo Total....</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.costo"
                  matInput
                />
              </mat-form-field>
            </th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <ng-container *ngIf="listaNeas as result">
            <tr
              *ngFor="
                let registro of result
                  | paginate
                    : {
                        id: 'movimientos',
                        itemsPerPage: iPageSize,
                        currentPage: p
                      }
              "
            >
              <td class="text-center">
                <span
                  [innerHTML]="registro.NRO_NEA | resaltar: campoFiltro.nro_nea"
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="registro.codigo | resaltar: campoFiltro.codigo"
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="registro.bien | resaltar: campoFiltro.articulo"
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="
                    registro.und_medida | resaltar: campoFiltro.uni_medida
                  "
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="registro.cuenta | resaltar: campoFiltro.cuenta"
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="
                    registro.tipo_uso | resaltar: campoFiltro.tipo_uso
                  "
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="registro.marca | resaltar: campoFiltro.marca"
                ></span>
              </td>
              <td class="text-right">
                <span
                  [innerHTML]="
                    registro.cant_total | resaltar: campoFiltro.cant_total
                  "
                ></span>
              </td>
              <td class="text-right">
                <span
                  [innerHTML]="
                    registro.precio_unit | resaltar: campoFiltro.precio
                  "
                ></span>
              </td>
              <td class="text-right">
                <span
                  [innerHTML]="
                    registro.valor_total | resaltar: campoFiltro.costo
                  "
                ></span>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <br />
    <pagination-controls
      (pageChange)="p = $event"
      previousLabel="Atras"
      nextLabel="Siguiente"
      id="movimientos"
    ></pagination-controls>
  </div>
</div>
