/* You can add global styles to this file, and also import other style files */
.tg{
    font-size:14px; 
}
select{
  border-radius: 20px 20px 20px 20px;
  width: 6em;
  margin-left: 0.2em;
  padding-left: 1em;
}
.spacePagination{
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
.titulo{
  display: block;
  font-size: 2.4em;
  font-weight: 900;
  margin-top:15px;
  color: white;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}
.portada{
  background: url("assets/images/fondo.jpg") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100% ;
 }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cdk-overlay-container {
  z-index: 1051 !important;
}