th{
    padding:10px 4px
}
.imgs{
    background-repeat: no-repeat;
    background-size: contain, cover;
}
.circle{
    display: block;
    position: relative;
    width: 68px;
    height: 68px;
    padding: 6px 0px;
    font-size: 38px;
    color: white;
    margin: 20px auto;
    background: #0f2b5b;
    border-radius: 50%;
    text-align: center;
}
.container-m{
    display: block;
    position: relative;
    margin-top:150px;
    height: 400px;
}
// .card:hover{
//     background: #0f2b5b !important;
//     color:rgb(151, 146, 146);
//     .circle{
//         display: block;
//         position: relative;
//         width: 68px;
//         height: 68px;
//         padding: 6px 0px;
//         font-size: 38px;
//         color: #0f2b5b;
//         margin: 20px auto;
//         background: white;
//         border-radius: 50%;
//         text-align: center;
//     }
//     strong{
//         color:rgb(236, 235, 235)
//     }
// }

a:hover, a:hover div{ 
    background: rgb(239, 241, 245);
    font-weight: 700;
     
}