<div class="module-loader" *ngIf="loading">
  <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card user-profile o-hidden mb-4">
      <div
        class="header-cover"
        style="background-image: url('assets/images/inicio.jpg'); height: 200px"
      ></div>
      <div class="user-info">
        <img
          class="profile-picture avatar-lg ml-2"
          src="assets/images/iconos/user.svg"
          alt=""
        />
        <p class="m-0 text-16">{{ info.cPersNombre }}</p>
        <p class="m-0 text-12">
          {{ info.cPersPaterno }} {{ info.cPersMaterno }}
        </p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="col-12">
              <tr>
                <th class="text-right">DNI :</th>
                <td class="text-center">{{ info.cPersDocumento }}</td>
              </tr>

              <tr>
                <th class="text-right">ALMACÉN DE TRABAJO :</th>
                <td class="text-center">{{ almacen }}</td>
              </tr>
            </table>
          </div>
          <div class="col-12">
            <button class="w-100" mat-raised-button color="primary" (click)="cambiarAlmacen()">
              <mat-icon>wifi_protected_setup</mat-icon>
              Cambiar de Almacén
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-12">
        <div class="card-icon-bg card-icon-bg-primary mb-4">
          <h1 class="text-center">OPCIONES GENERALES</h1>
        </div>
      </div>
    </div>

    <div class="row align-items-start">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary mb-4">
          <a
            [routerLink]="['/internamiento/bienes/34']"
            class="list-group-item list-group-item-action"
          >
            <div class="card-body text-center">
              <i class="i-Dropbox"></i>
              <div class="content">
                <p class="text-muted mt-2 mb-0">Mi Almacén</p>
                <p class="lead text-primary text-24 mb-2">Bienes</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary mb-4">
          <a
            [routerLink]="['/combustible/generar/34']"
            class="list-group-item list-group-item-action"
          >
            <div class="card-body text-center">
              <i class="i-Car-2"></i>
              <div class="content">
                <p class="text-muted mt-2 mb-0">Combustible - Generar Solicitud</p>
                <p class="lead text-primary text-24 mb-2">Estandar</p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                    
                    <div class="card card-icon-bg card-icon-bg-primary mb-4">
                        <a href="#" class="list-group-item list-group-item-action">
                        <div class="card-body text-center">
                            <i class="i-Inbox-Out"></i>
                            <div class="content">
                                <p class="text-muted mt-2 mb-0">Administración</p>
                                <p class="lead text-primary text-24 mb-2">Despacho</p>
                            </div>
                        </div>
                    </a>
                    </div>
                 </div>
                 <div class="col-lg-6 col-md-6 col-sm-6">
                    
                    <div class="card card-icon-bg card-icon-bg-primary mb-4">
                        <a href="#" class="list-group-item list-group-item-action">
                        <div class="card-body text-center">
                            <i class="i-Car-2"></i>
                            <div class="content">
                                <p class="text-muted mt-2 mb-0">Vales</p>
                                <p class="lead text-primary text-24 mb-2">Combustible</p>
                            </div>
                        </div>
                    </a>
                    </div>
                 </div>
                 <div class="col-lg-6 col-md-6 col-sm-6">
                    
                    <div class="card card-icon-bg card-icon-bg-primary mb-4">
                        <a href="#" class="list-group-item list-group-item-action">
                        <div class="card-body text-center">
                            <i class="i-Bar-Chart"></i>
                            <div class="content">
                                <p class="text-muted mt-2 mb-0">Generación</p>
                                <p class="lead text-primary text-24 mb-2">Reportes</p>
                            </div>
                        </div>
                    </a>
                    </div>
                 </div> -->
    </div>
  </div>
</div>
<ng-template let-modal #almacenModal>
  <div class="card">
    <div class="card-header text-center">
      ELEGIR ALMACEN
      <button type="button" class="close text-white" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body p-5">
      <mat-form-field class="w-100" color="primary" appearance="outline">
        <mat-label>ALMACEN:</mat-label>
        <mat-select (selectionChange)="elegirAlmacen($event)">
          <mat-option *ngFor="let alm of almacenes" [value]="alm">
            {{ alm.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</ng-template>
