<div class="module-loader" *ngIf="loading">
  <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>
<div class="col-md-12 mb-2">
  <div class="row">
    <div class="col-md-6 border border-white bg-light">
      <mat-form-field class="w-100" color="primary" appearance="fill">
        <mat-label>LUGAR:</mat-label>
        <mat-select
          [(ngModel)]="lugarTodo"
          (selectionChange)="filtrarXLugares($event)"
        >
          <mat-option
            *ngFor="let lugar of listaLugares"
            [value]="lugar.lugar_id"
          >
            {{ lugar.lugar_nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="col-12 d-flex">
        <div class="col-5">
          <button
            class="w-100"
            mat-raised-button
            color="primary"
            [disabled]="lugarTodo === null"
            (click)="filtrarXLugares({ value: lugarTodo })"
          >
            CARGAR DATOS
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 border border-white bg-light">
      <div class="row m-1 mt-1">
        <div class="col-md-12 p-1">
          <h1 class="titulo text-center">{{ titulo }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card o-hidden">
  <div class="col-12">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr class="head-tablas">
            <th>ALM DESTINO</th>
            <th>ARTÍCULO</th>
            <th>CANTIDAD</th>
            <th>ESTADO NOTA</th>
            <th>SOLICITANTE</th>
            <th>GLOSA</th>
            <th>OBSERVACIONES</th>
            <th>FECHA RECEPCIÓN</th>
            <th>RECEPCIONISTA</th>
          </tr>
          <tr>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Alm Destino...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.alm_destino"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Artículo...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.articulo"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Cantidad...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.cantidad"
                  matInput
                />
              </mat-form-field>
            </th>

            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Estado Nota...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.estado_nota"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Solicitante...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.solicitante"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Glosa...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.glosa"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Observaciones...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.observaciones"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Fecha Recepción...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.fecha_recep"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Filtro Recepcionista...</mat-label>
                <input
                  (keyup)="filtrar()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.recepcionista"
                  matInput
                />
              </mat-form-field>
            </th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <ng-container *ngIf="listaPendientes as result">
            <tr
              *ngFor="
                let registro of result
                  | paginate
                    : {
                        id: 'movimientos',
                        itemsPerPage: iPageSize,
                        currentPage: p
                      }
              "
            >
              <td class="text-center">
                <span
                  [innerHTML]="
                    registro.alm_destino | resaltar: campoFiltro.alm_destino
                  "
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="
                    registro.articulo | resaltar: campoFiltro.articulo
                  "
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="registro.cant | resaltar: campoFiltro.cantidad"
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="
                    registro.estado_nota | resaltar: campoFiltro.estado_nota
                  "
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="
                    registro.pers_solic | resaltar: campoFiltro.solicitante
                  "
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="registro.mov_glosa | resaltar: campoFiltro.glosa"
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="
                    registro.mov_obs | resaltar: campoFiltro.observaciones
                  "
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="
                    registro.fecha_recp | resaltar: campoFiltro.fecha_recep
                  "
                ></span>
              </td>
              <td class="text-center">
                <span
                  [innerHTML]="
                    registro.pers_recep | resaltar: campoFiltro.recepcionista
                  "
                ></span>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <br />
    <pagination-controls
      (pageChange)="p = $event"
      previousLabel="Atras"
      nextLabel="Siguiente"
      id="movimientos"
    ></pagination-controls>
  </div>
</div>

<ng-template #modalDetalles let-modal>
  <div class="card text-center">
    <div class="card-header">
      DETALLES DE MOVIMIENTO
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <mat-form-field class="w-100" color="primary" appearance="fill">
            <mat-label>LUGAR:</mat-label>
            <input type="date" [(ngModel)]="fechaDetalle" matInput />
          </mat-form-field>
        </div>
        <div
          class="col-4 ml-auto d-flex align-items-center justify-content-center"
        >
          <button
            [disabled]="fechaDetalle === ''"
            mat-raised-button
            color="primary"
            (click)="aceptarMovimiento()"
            class="w-100"
          >
            <global-font-awesome-v4 name="check"></global-font-awesome-v4>
            ACEPTAR MOVIMIENTO
          </button>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered w-100">
          <thead class="thead-dark">
            <tr class="head-tablas">
              <th>#</th>
              <th>ARTÍCULO</th>
              <th>PRECIO UNITARIO</th>
              <th>CANT. O/C</th>
              <th>CANT. ENTRANTE</th>
              <th>SALDO RESTANTE</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="detallesMovimiento as result">
              <tr
                *ngFor="
                  let item of result
                    | paginate
                      : {
                          id: 'pagDetalleMov',
                          itemsPerPage: iPageSize,
                          currentPage: pDM
                        };
                  let i = index
                "
              >
                <td class="text-center">
                  <span [innerHTML]="i + 1 + (pDM - 1) * iPageSize"></span>
                </td>
                <td class="text-left">
                  <span [innerHTML]="item.articulo"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.precio"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.cant"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.saldo"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.pendiente"></span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <pagination-controls
        id="pagDetalleMov"
        (pageChange)="pDM = $event"
        previousLabel="Atras"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
  </div>
</ng-template>
