<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-md-5">
            <div class="card">
                <div class="card-header">
                    Verifica y Restablece tu Contraseña
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="">Correo</label>
                        <input type="email" class="form-control" name="correo" [(ngModel)]="correo" >
                        <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
                            <div *ngIf="f.correo.errors.required">Correo no valido</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Celular</label>
                        <input type="tel" class="form-control" name="celular" [(ngModel)]="celular" >
                        <div *ngIf="submitted && f.celular.errors" class="invalid-feedback">
                            <div *ngIf="f.celular.errors.required">Teléfono no valido</div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="">Nueva Contraseña</label>
                        <input type="password" class="form-control" name="newPass" [(ngModel)]="newPass"  >
                        <div *ngIf="submitted && f.newPass.errors" class="invalid-feedback">
                            <div *ngIf="f.newPass.errors.required">Password es obligatorio</div>
                            <div *ngIf="f.newPass.errors.minlength">Password tiene que tener mas de 6 caracteres</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Repite Contraseña</label>
                        <input type="password" class="form-control" name="repPass" [(ngModel)]="repPass" >
                        <div *ngIf="submitted && f.repPass.errors" class="invalid-feedback">
                            <div *ngIf="f.repPass.errors.required">Password es obligatorio</div>
                            <div *ngIf="f.repPass.errors.minlength">Password tiene que tener mas de 6 caracteres</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" (click)="savePersonData()">Guardar Cambios</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>