<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">ALMACÉN</li>
    <li class="breadcrumb-item" aria-current="page">REPORTES</li>
    <li class="breadcrumb-item active" aria-current="page">POR BIENES</li>
  </ol>
</nav>
<div class="row">
  <div class="col-sm-12">
    <!-- <div class="row">
      <div class="col-sm-12">
        <div class="card-icon-bg card-icon-bg-primary mb-4">
          <h1 class="text-center">REPORTES POR BIENES</h1>
        </div>
      </div>
    </div> -->
    <!-- NUEVO PARA TODO REPORTE -->
    <div class="card my-2">
      <h4 class="text-center">DATOS GENERALES</h4>
      <form [formGroup]="formularioGeneral">
        <div class="row p-2 d-flex align-items-center">
          <div class="col-6">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>LUGAR:(*)</mat-label>
              <mat-select formControlName="lugar">
                <mat-option *ngFor="let lugar of listaLugares" [value]="lugar">
                  {{ lugar.lugar_nombre }}
                </mat-option>
              </mat-select>
              <mat-error>Campo Requerido</mat-error>
            </mat-form-field>
          </div>
          <div class="col-6 d-flex">
            <div class="col-6">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Fecha Inicial: (*)</mat-label>
                <input
                  matInput
                  type="date"
                  formControlName="fechaInicial"
                  required
                />
                <mat-error>Campo Requerido</mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Fecha Final: (*)</mat-label>
                <input
                  matInput
                  type="date"
                  formControlName="fechaFinal"
                  required
                />
                <mat-error>Campo Requerido</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- NUEVO PARA TODO REPORTE -->
    <div class="row align-items-start">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary mb-4">
          <button
            (click)="reportesPorEntradas()"
            [disabled]="!formularioGeneral.valid"
            class="list-group-item list-group-item-action"
          >
            <div class="card-body text-center">
              <i class="i-Inbox-Into"></i>
              <div class="content">
                <!-- <p class="text-muted mt-2 mb-0">MÓDULO</p> -->
                <p class="lead text-primary text-24 mb-2">
                  Generar Reporte Por Entradas
                </p>
              </div>
            </div>
          </button>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary mb-4">
          <button
            [disabled]="!formularioGeneral.valid"
            (click)="reportesPorSalidas()"
            class="list-group-item list-group-item-action"
          >
            <div class="card-body text-center">
              <i class="i-Paper-Plane"></i>
              <div class="content">
                <!-- <p class="text-muted mt-2 mb-0">MÓDULO</p> -->
                <p class="lead text-primary text-24 mb-2">
                  Generar Reporte Por Salidas
                </p>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
    <div class="row align-items-start">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary mb-4">
          <button
            [disabled]="!formularioGeneral.valid"
            (click)="reportesPorSaldos()"
            class="list-group-item list-group-item-action"
          >
            <div class="card-body text-center">
              <i class="i-Cash-register-2"></i>
              <div class="content">
                <!-- <p class="text-muted mt-2 mb-0">CAJA</p> -->
                <p class="lead text-primary text-24 mb-2">
                  Generar Reporte Por Saldos
                </p>
              </div>
            </div>
          </button>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-icon-bg card-icon-bg-primary mb-4">
          <button
            [disabled]="!formularioGeneral.valid"
            (click)="reporteNeas()"
            class="list-group-item list-group-item-action"
          >
            <div class="card-body text-center">
              <i class="i-Cash-register-2"></i>
              <div class="content">
                <!-- <p class="text-muted mt-2 mb-0">CAJA</p> -->
                <p class="lead text-primary text-24 mb-2">
                  Generar Reporte Por NEA's
                </p>
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
