<div class="module-loader" *ngIf="loading">
  <div class="spinner spinner-bubble spinner-bubble-primary mr-3"></div>
</div>
<div class="col-md-12">
  <div class="row">
    <div class="col-md-3 border border-white bg-light">
      <div class="row m-1">
        <div class="col-12">
          <div class="d-flex flex-column">
            <label>Acciones</label><br />
            <div class="d-flex">
              <button
                class="col-8"
                color="primary"
                mat-raised-button
                (click)="cargarDatos()"
                [disabled]="movimiento === '' || transaccion === ''"
              >
                <global-font-awesome-v4 name="search"></global-font-awesome-v4>
                Cargar Datos
              </button>
              <button
                matTooltip="IMPRIMIR"
                mat-raised-button
                color="primary"
                class="col-3 ml-auto"
                [matMenuTriggerFor]="menuPrin"
              >
                <mat-icon>print</mat-icon>
              </button>
              <mat-menu #menuPrin="matMenu">
                <button mat-menu-item (click)="generarPDFMovimientos()">
                  <span>Actualizados</span>
                </button>
                <button
                  mat-menu-item
                  (click)="generarPDFMovimientosSinActualizar()"
                >
                  <span>Por Actualizar</span>
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-1">
        <div class="col-12">
          <div class="d-flex flex-column">
            <label>Sincronizar con SIGA:</label><br />
            <div class="d-flex">
              <button
                class="w-100 mx-auto"
                color="primary"
                mat-raised-button
                [matMenuTriggerFor]="menuSincro"
                aria-label="Example icon-button with a menu"
              >
                <mat-icon>cached</mat-icon>
                <span> MIGRAR </span>
              </button>
              <mat-menu #menuSincro="matMenu">
                <button
                  mat-menu-item
                  class="w-100"
                  matTooltip="MIGRA NUEVOS"
                  (click)="sincronizarDatos()"
                >
                  <span>Movimientos</span>
                </button>
                <button
                  mat-menu-item
                  matTooltip="MUY PRONTO..."
                  class="w-100"
                  (click)="mostrarFormSincronizar(modalSincronizarNeas)"
                >
                  <span>NEAS</span>
                </button>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 border border-white bg-light">
      <div class="row m-1 mt-1">
        <div class="col-md-12 p-1">
          <mat-form-field class="w-100" color="primary" appearance="fill">
            <mat-label>Movimiento:</mat-label>
            <mat-select
              (selectionChange)="filtrarMovimiento($event)"
              [(ngModel)]="movimiento"
            >
              <mat-option *ngFor="let tipo of tiposM" [value]="tipo.value">
                {{ tipo.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12 p-1">
          <mat-form-field class="w-100" color="primary" appearance="fill">
            <mat-label>Transacción:</mat-label>
            <mat-select [(ngModel)]="transaccion">
              <mat-option *ngFor="let tipo of tiposT" [value]="tipo.tipo_t">
                {{ tipo.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div
      class="col-md-5 border border-white bg-light d-flex align-items-center"
    >
      <div class="row m-1 mt-1">
        <div class="col-md-12 p-1">
          <h1 class="titulo text-center">{{ titulo }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  pagionador: movimientos, pagina: p -->
<div class="card o-hidden">
  <mat-tab-group color="primary">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon" style="color: #d15f01"
          >schedule</mat-icon
        >
        <span style="color: #d15f01; font-weight: bold">POR ACTUALIZAR</span>
      </ng-template>
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead class="thead-dark">
              <tr class="head-tablas">
                <th>FECHA DE MOVIMIENTO</th>
                <th>NRO ORDEN</th>
                <th>NRO GUIA</th>
                <!-- <th>MOVIMIENTO</th> -->
                <th>PROVEEDOR</th>
                <th>GLOSA</th>
                <th>OBSERVACIÓN</th>
                <th>FECHA DE NOTIFICACIÓN</th>
                <th>PLAZO DE ENTREGA</th>
                <th>ACCIONES</th>
              </tr>
              <tr>
                <th>
                  <mat-form-field
                    class="text-10"
                    color="primary"
                    appearance="outline"
                  >
                    <mat-label>Filtro Fecha de Movimiento...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.fecha_mov"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field
                    class="text-10"
                    color="primary"
                    appearance="outline"
                  >
                    <mat-label>Filtro Nro Orden...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.nro_orden"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field
                    class="text-10"
                    color="primary"
                    appearance="outline"
                  >
                    <mat-label>Filtro Nro Guía...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.nro_guia"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <!-- <th>
                  <mat-form-field
                    class="text-10"
                    color="primary"
                    appearance="outline"
                  >
                    <mat-label>Filtro Movimiento...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.tipo_mvto"
                      matInput
                    />
                  </mat-form-field>
                </th> -->

                <th>
                  <mat-form-field
                    class="text-10"
                    color="primary"
                    appearance="outline"
                  >
                    <mat-label>Filtro Proveedor...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.prov"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field
                    class="text-10"
                    color="primary"
                    appearance="outline"
                  >
                    <mat-label>Filtro Glosa...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.glosa"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field
                    class="text-10"
                    color="primary"
                    appearance="outline"
                  >
                    <mat-label>Filtro Observación...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.obs"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field
                    class="text-10"
                    color="primary"
                    appearance="outline"
                  >
                    <mat-label>Filtro Fecha Notificación...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.fecha_notif"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field
                    class="text-10"
                    color="primary"
                    appearance="outline"
                  >
                    <mat-label>Filtro Plazo de Entrega...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.plazo_entrega"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody class="table-hover">
              <ng-container *ngIf="listado as result">
                <tr
                  *ngFor="
                    let registro of result
                      | paginate
                        : {
                            id: 'movimientos',
                            itemsPerPage: iPageSize,
                            currentPage: p
                          }
                  "
                >
                  <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.fecha_mov | resaltar: campoFiltro.fecha_mov
                      "
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.norden | resaltar: campoFiltro.nro_orden
                      "
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.nguia | resaltar: campoFiltro.nro_guia
                      "
                    ></span>
                  </td>
                  <!-- <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.namemvto | resaltar: campoFiltro.tipo_mvto
                      "
                    ></span>
                  </td> -->
                  <td class="text-center">
                    <span
                      [innerHTML]="registro.prov | resaltar: campoFiltro.prov"
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="registro.glosa | resaltar: campoFiltro.glosa"
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="registro.obs | resaltar: campoFiltro.obs"
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.fecha_not_OC
                          | date: 'y-M-d'
                          | resaltar: campoFiltro.fecha_notif
                      "
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.plazo_entrega_OC
                          ? registro.plazo_entrega_OC + ' días'
                          : ('' | resaltar: campoFiltro.plazo_entrega)
                      "
                    ></span>
                  </td>
                  <td class="text-right">
                    <button
                      mat-icon-button
                      matTooltip="Opciones"
                      [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with a menu"
                    >
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button
                        mat-menu-item
                        (click)="mostrarDetalles(modalDetalles, registro)"
                      >
                        <mat-icon>visibility</mat-icon>
                        <span>Ver Detalle</span>
                      </button>
                      <button
                        mat-menu-item
                        (click)="mostrarOrden(modalOrden, registro)"
                      >
                        <mat-icon>visibility</mat-icon>
                        <span>Ver Orden</span>
                      </button>
                      <button
                        mat-menu-item
                        (click)="editar(modalForm, [registro])"
                      >
                        <mat-icon>edit</mat-icon>
                        <span>Editar (PLAZOS)</span>
                      </button>
                      <button
                        mat-menu-item
                        (click)="editarNEA(modalDetalleNeaEdit, [registro])"
                      >
                        <mat-icon>edit</mat-icon>
                        <span>Editar (NEA)</span>
                      </button>
                      <button mat-menu-item (click)="excelNEA(registro)">
                        <mat-icon>description</mat-icon>
                        <span>EXCEL (NEA)</span>
                      </button>
                    </mat-menu>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <br />
        <pagination-controls
          (pageChange)="p = $event"
          previousLabel="Atras"
          nextLabel="Siguiente"
          id="movimientos"
        ></pagination-controls>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon" color="primary">done_all</mat-icon>
        <span style="color: #263db5; font-weight: bold">ACTUALIZADOS</span>
      </ng-template>
      <div class="col-12">
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead class="thead-dark">
              <tr class="head-tablas">
                <th>FECHA DE MOVIMIENTO</th>
                <th>NRO ORDEN</th>
                <th>NRO GUIA</th>
                <!-- <th>MOVIMIENTO</th> -->
                <th>PROVEEDOR</th>
                <th>GLOSA</th>
                <th>OBSERVACIÓN</th>
                <th>DESTINO</th>
                <th>FECHA DE NOTIFICACIÓN</th>
                <th>PLAZO DE ENTREGA</th>
                <th>ACCIONES</th>
              </tr>
              <tr>
                <th>
                  <mat-form-field
                    class="text-10"
                    color="primary"
                    appearance="outline"
                  >
                    <mat-label>Filtro Fecha de Movimiento...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.fecha_mov"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field
                    class="text-10"
                    color="primary"
                    appearance="outline"
                  >
                    <mat-label>Filtro Nro Orden...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.nro_orden"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field
                    class="text-10"
                    color="primary"
                    appearance="outline"
                  >
                    <mat-label>Filtro Nro Guía...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.nro_guia"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <!-- <th>
                  <mat-form-field
                    class="text-10"
                    color="primary"
                    appearance="outline"
                  >
                    <mat-label>Filtro Movimiento...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.tipo_mvto"
                      matInput
                    />
                  </mat-form-field>
                </th> -->

                <th>
                  <mat-form-field
                    class="text-10"
                    color="primary"
                    appearance="outline"
                  >
                    <mat-label>Filtro Proveedor...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.prov"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field
                    class="text-10"
                    color="primary"
                    appearance="outline"
                  >
                    <mat-label>Filtro Glosa...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.glosa"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field
                    class="text-10"
                    color="primary"
                    appearance="outline"
                  >
                    <mat-label>Filtro Observación...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.obs"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field
                    class="text-10"
                    color="primary"
                    appearance="outline"
                  >
                    <mat-label>Filtro Destino...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.lug_nombre"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field
                    class="text-10"
                    color="primary"
                    appearance="outline"
                  >
                    <mat-label>Filtro Fecha Notificación...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.fecha_notif"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th>
                  <mat-form-field
                    class="text-10"
                    color="primary"
                    appearance="outline"
                  >
                    <mat-label>Filtro Plazo de Entrega...</mat-label>
                    <input
                      (keyup)="filtrar()"
                      type="text"
                      class="text-dark"
                      [(ngModel)]="campoFiltro.plazo_entrega"
                      matInput
                    />
                  </mat-form-field>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody class="table-hover">
              <ng-container *ngIf="listadoActualizados as result">
                <tr
                  *ngFor="
                    let registro of result
                      | paginate
                        : {
                            id: 'porActualizar',
                            itemsPerPage: iPageSize,
                            currentPage: pActualizados
                          }
                  "
                >
                  <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.fecha_mov | resaltar: campoFiltro.fecha_mov
                      "
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.norden | resaltar: campoFiltro.nro_orden
                      "
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.nguia | resaltar: campoFiltro.nro_guia
                      "
                    ></span>
                  </td>
                  <!-- <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.namemvto | resaltar: campoFiltro.tipo_mvto
                      "
                    ></span>
                  </td> -->
                  <td class="text-center">
                    <span
                      [innerHTML]="registro.prov | resaltar: campoFiltro.prov"
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="registro.glosa | resaltar: campoFiltro.glosa"
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="registro.obs | resaltar: campoFiltro.obs"
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.lug_nombre | resaltar: campoFiltro.lug_nombre
                      "
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.fecha_not_OC
                          | date: 'y-M-d'
                          | resaltar: campoFiltro.fecha_notif
                      "
                    ></span>
                  </td>
                  <td class="text-center">
                    <span
                      [innerHTML]="
                        registro.plazo_entrega_OC
                          ? registro.plazo_entrega_OC + ' días'
                          : ('' | resaltar: campoFiltro.plazo_entrega)
                      "
                    ></span>
                  </td>
                  <td class="text-right">
                    <button
                      mat-icon-button
                      matTooltip="Opciones"
                      [matMenuTriggerFor]="menu"
                      aria-label="Example icon-button with a menu"
                    >
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button
                        mat-menu-item
                        (click)="
                          abrirModalActualizarPecosa(
                            modalDetallesEditarPecosa,
                            registro
                          )
                        "
                      >
                        <mat-icon>visibility</mat-icon>
                        <span>Ver Detalle</span>
                      </button>
                      <button
                        mat-menu-item
                        (click)="mostrarOrden(modalOrden, registro)"
                      >
                        <mat-icon>visibility</mat-icon>
                        <span>Ver Orden</span>
                      </button>
                      <!-- <button
                        mat-menu-item
                        (click)="editar(modalForm, [registro])"
                      >
                        <mat-icon>edit</mat-icon>
                        <span>Editar</span>
                      </button> -->
                    </mat-menu>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <br />
        <pagination-controls
          (pageChange)="pActualizados = $event"
          previousLabel="Atras"
          nextLabel="Siguiente"
          id="porActualizar"
        ></pagination-controls>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #modalForm let-modal>
  <div class="card text-center">
    <div class="card-header">
      {{ tituloForm }}
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="formulario" (ngSubmit)="guardar()">
      <div class="card-body">
        <fieldset>
          <div class="row">
            <div class="col-12">
              <span>Los campos marcados con (*) son Obligatorios!</span>
              <input type="text" formControlName="id" hidden />
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Nro Orden:</mat-label>
                <input matInput formControlName="orden" required />
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Nro Guía:</mat-label>
                <input matInput formControlName="guia" required />
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Observacion:</mat-label>
                <textarea matInput formControlName="obs" rows="3" required>
                </textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Fecha Notificación:</mat-label>
                <input type="date" matInput formControlName="noti" required />
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field
                class="w-100"
                color="primary"
                appearance="outline"
              >
                <mat-label>Plazo de Entrega:</mat-label>
                <input
                  type="number"
                  matInput
                  formControlName="plazo"
                  required
                />
              </mat-form-field>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="card-footer text-muted">
        <div class="row">
          <div class="col-md-4 offset-md-6">
            <button
              class="btn btn-outline-primary"
              type="submit"
              [disabled]="!formulario.valid"
              mat-raised-button
              color="primary"
            >
              <global-font-awesome-v4 name="save"></global-font-awesome-v4>
              Guardar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<!--  pagionador: paginadorDetallemovimientos, pagina: pDM -->
<ng-template #modalDetalles let-modal>
  <div class="card text-center">
    <div class="card-header">
      DETALLES DE MOVIMIENTO
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="row my-2">
        <div
          class="col-md-3 col-sm-6 d-flex align-items-center"
          *ngIf="movimientoSeleccionado.tipo_mov === 'I'"
        >
          <mat-form-field class="w-100" color="primary" appearance="outline">
            <mat-label>PECOSA:</mat-label>
            <input type="text" matInput required [(ngModel)]="pecosaActual" />
            <mat-error>Digite el número de pecosa temporal.</mat-error>
          </mat-form-field>
        </div>
        <div
          class="col-md-3 col-sm-6 d-flex align-items-center"
          *ngIf="movimientoSeleccionado.tipo_mov === 'I'"
        >
          <mat-form-field class="w-100" color="primary" appearance="outline">
            <mat-label>FECHA PECOSA:</mat-label>
            <input type="date" matInput required [(ngModel)]="fechaPecosa" />
            <mat-error>Defina la fecha de la pecosa.</mat-error>
          </mat-form-field>
        </div>
        <!-- <div class="col-auto ml-auto">
          <button
            mat-raised-button
            color="primary"
            (click)="generarPdfDetalleMovimiento()"
          >
            <span>IMPRIMIR DETALLE </span><mat-icon>print</mat-icon>
          </button>
        </div> -->
      </div>
      <div class="row mb-2" *ngIf="movimientoSeleccionado.tipo_mov === 'I'">
        <div class="col-md-3 col-sm-6 d-flex align-items-center">
          <mat-form-field class="w-100" color="primary" appearance="outline">
            <mat-label>DOCUMENTO QUE APRUEBA:</mat-label>
            <input
              type="text"
              matInput
              required
              [(ngModel)]="documentoAprobador"
            />
            <mat-error>Digite el documento de aprobación.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4 col-sm-8 d-flex align-items-center">
          <mat-form-field class="w-100" color="primary" appearance="outline">
            <mat-label>LUGAR:</mat-label>
            <input
              type="text"
              matInput
              [formControl]="lugarDestino"
              [matAutocomplete]="bienAuto"
            />
            <mat-autocomplete
              [displayWith]="displayFn"
              #bienAuto="matAutocomplete"
            >
              <mat-optgroup
                *ngFor="let almacen of almacenesFiltrados | async"
                [label]="almacen.nombre"
              >
                <mat-option
                  *ngFor="let lugar of almacen.lugares"
                  [value]="lugar"
                >
                  {{ lugar.lugar_nombre }}
                </mat-option>
              </mat-optgroup>
            </mat-autocomplete>
            <!-- <mat-select required [(ngModel)]="lugarDestino">
              <mat-optgroup
                *ngFor="let almacen of almacenes"
                [label]="almacen.nombre"
              >
                <mat-option
                  *ngFor="let lugar of almacen.lugares"
                  [value]="lugar.lugar_id"
                >
                  {{ lugar.lugar_nombre }}
                </mat-option>
              </mat-optgroup>
            </mat-select> -->
            <mat-error>Seleccione un lugar...</mat-error>
          </mat-form-field>
        </div>
        <div class="col-4 d-flex align-items-center">
          <mat-form-field class="w-100" color="primary" appearance="outline">
            <mat-label>FECHA:</mat-label>
            <input required type="date" matInput [(ngModel)]="fechaDetalles" />
            <mat-error>Defina la fecha de la pecosa.</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered w-100">
          <thead class="thead-dark">
            <tr class="head-tablas">
              <th>
                <mat-checkbox
                  *ngIf="movimientoSeleccionado.tipo_mov === 'I'"
                  color="primary"
                  [(ngModel)]="salidaTodos"
                  (change)="seleccionarTodo($event)"
                ></mat-checkbox>
              </th>
              <th>#</th>
              <th>CLASIFICADOR</th>
              <th>CUENTA CONTABLE</th>
              <th>ARTÍCULO</th>
              <th>UNI. MEDIDA</th>
              <th>PRECIO UNITARIO</th>
              <th>CANT. O/C</th>
              <th *ngIf="movimientoSeleccionado.iLugarId !== null">
                CANT. TRANSF.
              </th>
              <th>VALOR TOTAL</th>
              <th *ngIf="movimientoSeleccionado.tipo_mov === 'I'">
                CANT. DE SALIDA
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="detallesMovimiento as result">
              <tr
                *ngFor="
                  let item of result
                    | paginate
                      : {
                          id: 'pagDetalleMov',
                          itemsPerPage: iPageSize,
                          currentPage: pDM
                        };
                  let i = index
                "
              >
                <td class="text-center">
                  <mat-checkbox
                    color="primary"
                    [checked]="item.elegido"
                    (change)="
                      seleccionarDetalleMovimiento($event, item.iSIGADetalleId)
                    "
                  ></mat-checkbox>
                </td>
                <td class="text-center">
                  <span [innerHTML]="i + 1 + (pDM - 1) * iPageSize"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.CLASIFICADOR"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.MAYOR + '.' + item.SUB_CTA"></span>
                </td>
                <td class="text-left">
                  <span [innerHTML]="item.articulo"></span>
                </td>
                <td class="text-left">
                  <span [innerHTML]="item.uni_med"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.PRECIO_UNIT"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.CANT_ARTICULO"></span>
                </td>
                <td
                  class="text-center"
                  *ngIf="movimientoSeleccionado.iLugarId !== null"
                >
                  <span [innerHTML]="item.CANT_MOVIDA"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.VALOR_TOTAL"></span>
                </td>
                <td *ngIf="movimientoSeleccionado.tipo_mov === 'I'">
                  <input
                    color="primary"
                    class="input_cantidad"
                    type="number"
                    min="0"
                    step="0.01"
                    [value]="item.cantidad_seleccionada"
                    [max]="
                      item.CANT_ARTICULO -
                      (item.CANT_MOVIDA !== null ? item.CANT_MOVIDA : 0)
                    "
                    (change)="
                      modificarCantidad(
                        $event,
                        item.iSIGADetalleId,
                        item.CANT_ARTICULO -
                          (item.CANT_MOVIDA !== null ? item.CANT_MOVIDA : 0)
                      )
                    "
                  />
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <pagination-controls
        id="pagDetalleMov"
        (pageChange)="pDM = $event"
        previousLabel="Atras"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
    <div class="card-footer">
      <div class="ml-auto col-md-3 col-sm-6 d-flex align-items-center">
        <button
          (click)="darSalidaTodo()"
          class="w-100"
          type="button"
          [disabled]="validarAlgunElemento() || loading"
          mat-raised-button
          color="primary"
        >
          <span>Dar Salida </span>
          <mat-icon>domain</mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-template>
<!--  pagionador: movimientos, pagina: pDMP -->
<ng-template #modalDetallesEditarPecosa let-modal>
  <div class="card text-center">
    <div class="card-header">
      DETALLES DE MOVIMIENTO - EDITAR PECOSA
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <form [formGroup]="formActualizarPecosa" (ngSubmit)="actualizarPecosa()">
        <div class="row mb-2">
          <div class="col-md-3 col-sm-6 d-flex align-items-center">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>PECOSA:</mat-label>
              <input type="text" matInput formControlName="pecosa" />
            </mat-form-field>
          </div>
          <div class="col-md-3 col-sm-6 d-flex align-items-center">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>FECHA PECOSA:</mat-label>
              <input type="date" matInput formControlName="fecha" />
            </mat-form-field>
          </div>
          <div class="col-md-4 col-sm-8 d-flex align-items-center">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>LUGAR:</mat-label>
              <mat-select formControlName="lugarDestino">
                <mat-optgroup
                  *ngFor="let almacen of almacenes"
                  [label]="almacen.nombre"
                >
                  <mat-option
                    *ngFor="let lugar of almacen.lugares"
                    [value]="lugar.lugar_id"
                  >
                    {{ lugar.lugar_nombre }}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
              <mat-error>Seleccione un lugar...</mat-error>
            </mat-form-field>
          </div>
        </div>
      </form>
      <div class="table-responsive">
        <table class="table table-bordered w-100">
          <thead class="thead-dark">
            <tr class="head-tablas">
              <th>#</th>
              <th>CLASIFICADOR</th>
              <th>CUENTA CONTABLE</th>
              <th>ARTÍCULO</th>
              <th>UNI. MEDIDA</th>
              <th>PRECIO UNITARIO</th>
              <th>CANT. O/C</th>
              <th *ngIf="movimientoSeleccionado.iLugarId !== null">
                CANT. TRANSF.
              </th>
              <th>VALOR TOTAL</th>
              <th *ngIf="formularioActual == 1">CANT. DE SALIDA</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="detallesMovimiento as result">
              <tr
                *ngFor="
                  let item of result
                    | paginate
                      : {
                          id: 'pagDetalleMov',
                          itemsPerPage: iPageSize,
                          currentPage: pDMP
                        };
                  let i = index
                "
              >
                <td class="text-center">
                  <span [innerHTML]="i + 1 + (pDMP - 1) * iPageSize"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.CLASIFICADOR"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.MAYOR + '.' + item.SUB_CTA"></span>
                </td>
                <td class="text-left">
                  <span [innerHTML]="item.articulo"></span>
                </td>
                <td class="text-left">
                  <span [innerHTML]="item.uni_med"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.PRECIO_UNIT"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.CANT_ARTICULO"></span>
                </td>
                <td
                  class="text-center"
                  *ngIf="movimientoSeleccionado.iLugarId !== null"
                >
                  <span
                    style="font-weight: bold"
                    [innerHTML]="item.CANT_MOVIDA"
                  ></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.VALOR_TOTAL"></span>
                </td>
                <td class="text-center" *ngIf="formularioActual == 1">
                  <span [innerHTML]="item.cantidad_seleccionada"></span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <pagination-controls
        id="pagDetalleMov"
        (pageChange)="pDMP = $event"
        previousLabel="Atras"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
    <div class="card-footer">
      <div class="ml-auto col-md-3 col-sm-6 d-flex align-items-center">
        <button
          class="w-100"
          type="button"
          (click)="actualizarPecosa()"
          [disabled]="!formActualizarPecosa.valid"
          mat-raised-button
          color="primary"
        >
          <span>Actualizar Pecosa </span>
          <mat-icon>domain</mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #modalOrden let-modal>
  <div class="card text-center">
    <div class="card-header">
      ORDEN DE COMPRA
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="form" [formGroup]="ordenForm">
      <div class="card-body">
        <div class="row my-1">
          <button
            mat-raised-button
            color="primary"
            class="col-3 ml-auto"
            (click)="downloadPdfOC()"
          >
            <span>IMPRIMIR O/C </span><mat-icon>print</mat-icon>
          </button>
        </div>
        <div class="row">
          <div class="col-3">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>N° Orden:</mat-label>
              <input matInput readonly formControlName="norden" />
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>N° SIAF:</mat-label>
              <input matInput readonly formControlName="siaf" />
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>Fecha:</mat-label>
              <input matInput readonly type="date" formControlName="fecha" />
            </mat-form-field>
          </div>
          <div class="col-3">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>Meta:</mat-label>
              <input matInput readonly formControlName="meta" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>Proveedor:</mat-label>
              <input matInput readonly formControlName="prov" />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>Documento Referencia:</mat-label>
              <input matInput readonly formControlName="ref" />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>SubTotal:</mat-label>
              <input matInput readonly formControlName="sub" />
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>Total IGV:</mat-label>
              <input matInput readonly formControlName="igv" />
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>Total Factura:</mat-label>
              <input matInput readonly formControlName="fac" />
            </mat-form-field>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered w-100">
            <thead class="thead-dark">
              <tr class="head-tablas">
                <th>#</th>
                <th>PRODUCTO</th>
                <th>CANTIDAD</th>
                <th>PRECIO UNITARIO</th>
                <th>PRECIO TOTAL</th>
                <th>CANTIDAD RECIBIDA</th>
                <th>FECHA RECEPCIÓN</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="detallesOrden as result">
                <tr
                  *ngFor="
                    let item of result
                      | paginate
                        : {
                            id: 'pagDetalleOrden',
                            itemsPerPage: iPageSize,
                            currentPage: pDO
                          };
                    let i = index
                  "
                >
                  <td class="text-center">
                    <span [innerHTML]="i + 1 + (pDO - 1) * iPageSize"></span>
                  </td>
                  <td class="text-center">
                    <span [innerHTML]="item.producto.producto"></span>
                  </td>
                  <td class="text-center">
                    <span [innerHTML]="item.CANT_ITEM"></span>
                  </td>
                  <td class="text-center">
                    <span [innerHTML]="item.PREC_UNIT_MONEDA"></span>
                  </td>
                  <td class="text-center">
                    <span [innerHTML]="item.PREC_TOT_SOLES"></span>
                  </td>
                  <td class="text-center">
                    <span [innerHTML]="item.CANT_RECIBIDA"></span>
                  </td>
                  <td class="text-center">
                    <span [innerHTML]="item.FECHA_RECEP"></span>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <pagination-controls
          id="pagDetalleOrden"
          (pageChange)="pDO = $event"
          previousLabel="Atras"
          nextLabel="Siguiente"
        ></pagination-controls>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #modalSincronizarNeas let-modal>
  <div class="card text-center">
    <div class="card-header">
      MIGRAR NEAS
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <form
        [formGroup]="formularioNeaSincro"
        (ngSubmit)="buscarNeas(modalListadoNeasSiga)"
      >
        <div class="row">
          <div class="col-12">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>TIPO DE NEA:</mat-label>
              <mat-select formControlName="tipo">
                <mat-option *ngFor="let tipo of tiposNea" [value]="tipo.tipo_t">
                  {{ tipo.abrev }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>AÑO:</mat-label>
              <input type="number" step="1" matInput formControlName="año" />
              <mat-error>El valor máximo es {{ numeroMaximo }}</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-auto ml-auto">
            <button
              mat-raised-button
              color="primary"
              [disabled]="!formularioNeaSincro.valid"
            >
              MIGRAR NEA
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>
<ng-template #modalListadoNeasSiga let-modal>
  <div class="card text-center">
    <div class="card-header">
      LISTADO DE NEAS SIGA
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered w-100">
          <thead class="thead-dark">
            <tr class="head-tablas">
              <th>#</th>
              <th>DOCUMENTO</th>
              <th>NRO FACTURA</th>
              <th>OBSERVACIÓN</th>
              <th>GLOSA</th>
              <th>FECHA</th>
              <th>ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="listaNeasSiga as result">
              <tr
                *ngFor="
                  let item of result
                    | paginate
                      : {
                          id: 'pagListaNeaSiga',
                          itemsPerPage: iPageSize,
                          currentPage: pLNS
                        };
                  let i = index
                "
              >
                <td class="text-center">
                  <span [innerHTML]="i + 1 + (pDM - 1) * iPageSize"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.doc"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.nro_factura"></span>
                </td>
                <td class="text-left">
                  <span [innerHTML]="item.obs"></span>
                </td>
                <td class="text-left">
                  <span [innerHTML]="item.glosa"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.fecha_mov | date: 'd/M/yyyy'"></span>
                </td>
                <td>
                  <button
                    mat-raised-button
                    color="warn"
                    matTooltip="LISTAR DETALLES (PRONTO)"
                    (click)="buscarDetallesNeaSiga(item, modalDetalleNeasSiga)"
                  >
                    <mat-icon>search</mat-icon>
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <pagination-controls
        id="pagListaNeaSiga"
        (pageChange)="pLNS = $event"
        previousLabel="Atras"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
  </div>
</ng-template>
<ng-template #modalDetalleNeasSiga let-modal let-c="close">
  <div class="card text-center">
    <div class="card-header">
      DETALLES DE NEA SIGA
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <!-- <div class="row my-1">
        <button
          mat-raised-button
          color="primary"
          class="col-3 ml-auto"
          (click)="generarPdfDetalleMovimiento()"
        >
          <span>IMPRIMIR DETALLE </span><mat-icon>print</mat-icon>
        </button>
      </div> -->
      <div class="row mb-2">
        <div class="col-3 d-flex align-items-center">
          <mat-form-field class="w-100" color="primary" appearance="outline">
            <mat-label>DOCUMENTO:</mat-label>
            <input
              type="text"
              readonly
              matInput
              [value]="neaSeleccionada.doc || ''"
            />
          </mat-form-field>
        </div>
        <div class="col-3 d-flex align-items-center">
          <mat-form-field class="w-100" color="primary" appearance="outline">
            <mat-label>NRO FACTURA:</mat-label>
            <input
              type="text"
              readonly
              matInput
              [value]="neaSeleccionada.nro_factura || ''"
            />
          </mat-form-field>
        </div>
        <div class="col-3 d-flex align-items-center">
          <mat-form-field class="w-100" color="primary" appearance="outline">
            <mat-label>GLOSA:</mat-label>
            <input
              type="text"
              readonly
              matInput
              [value]="neaSeleccionada.glosa || ''"
            />
          </mat-form-field>
        </div>
        <div class="col-md-2 col-sm-4 d-flex align-items-center">
          <mat-form-field class="w-100" color="primary" appearance="outline">
            <mat-label>FECHA:</mat-label>
            <input
              type="text"
              readonly
              matInput
              [value]="neaSeleccionada.fecha_mov | date: 'd/M/yyyy' || ''"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered w-100">
          <thead class="thead-dark">
            <tr class="head-tablas">
              <th>#</th>
              <th>CUENTA</th>
              <th>CÓDIGO</th>
              <th>BIEN</th>
              <th>MARCA</th>
              <th>UNIDAD DE MEDIDA</th>
              <th>CANTIDAD</th>
              <th>PRECIO</th>
              <th>VALOR TOTAL</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="listaDetallesNeaSiga as result">
              <tr
                *ngFor="
                  let item of result
                    | paginate
                      : {
                          id: 'pagDetallesNeaSiga',
                          itemsPerPage: iPageSize,
                          currentPage: pDNS
                        };
                  let i = index
                "
              >
                <td class="text-center">
                  <span [innerHTML]="i + 1 + (pDM - 1) * iPageSize"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.cuenta"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.codigo"></span>
                </td>
                <td class="text-left">
                  <span [innerHTML]="item.bien"></span>
                </td>
                <td class="text-left">
                  <span [innerHTML]="item.marca"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.unid_med"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.cant"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.precio"></span>
                </td>
                <td class="text-center">
                  <span [innerHTML]="item.valor_total"></span>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <pagination-controls
        id="pagDetalleNeaSiga"
        (pageChange)="pDNS = $event"
        previousLabel="Atras"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
    <div class="card-footer">
      <div class="ml-auto d-flex align-items-center">
        <button
          (click)="migrarNea(c)"
          type="button"
          mat-raised-button
          color="primary"
          class="ml-auto col-auto"
        >
          <span>MIGRAR </span>
          <mat-icon>syncro</mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #modalDetalleNeaEdit let-modal let-c="close" let-d="dismiss">
  <div class="card text-center">
    <div class="card-header">
      EDITAR NEA
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="modal.dismiss('Cross click'); cargarDatos()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <div class="row my-2">
        <div class="row w-100">
          <div class="col-8">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>Tipo de Movimiento:</mat-label>
              <input
                type="text"
                matInput
                readonly
                [value]="movimientoSeleccionado.namemvto"
              />
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>Fecha de Movimiento:</mat-label>
              <input
                type="text"
                matInput
                readonly
                [value]="movimientoSeleccionado.fecha_mov"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row w-100">
          <div class="col-6">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>Glosa:</mat-label>
              <textarea
                matInput
                readonly
                [value]="movimientoSeleccionado.glosa"
              ></textarea>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>Observación:</mat-label>
              <textarea
                matInput
                readonly
                [value]="movimientoSeleccionado.obs"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
        <form class="row w-100" [formGroup]="editNeaForm">
          <div class="col-2">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>Secuencia Funcional:</mat-label>
              <input type="text" matInput formControlName="sec_func" />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="w-100" color="primary" appearance="outline">
              <mat-label>Nombre de Secuencia Funcional:</mat-label>
              <textarea
                type="text"
                matInput
                formControlName="sec_func_nombre"
                rows="3"
              ></textarea>
            </mat-form-field>
          </div>
          <div class="col-1 d-flex align-items-center">
            <button
              mat-raised-button
              matTooltip="Buscar Secuencia Funcional"
              color="primary"
              (click)="mostrarModalSec(modalSec)"
            >
              <mat-icon>search</mat-icon>
            </button>
          </div>
          <div class="col-3 d-flex align-items-center">
            <button
              (click)="guardarActualizacion()"
              class="w-100"
              type="button"
              [disabled]="!editNeaForm.valid"
              mat-raised-button
              color="primary"
            >
              <span>ACTUALIZAR DATOS</span>
              <mat-icon>save</mat-icon>
            </button>
          </div>
        </form>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered w-100">
          <thead class="thead-dark">
            <tr class="head-tablas">
              <th>#</th>
              <th>ACCIÓN</th>
              <th>AÑO ORDEN</th>
              <th>NRO ORDEN</th>
              <th>SIAF</th>
              <th>CLASIFICADOR</th>
              <th>MAYOR</th>
              <th>SUB CUENTA</th>
              <th>ARTÍCULO</th>
              <th>UNI. MEDIDA</th>
              <th>PRECIO UNITARIO</th>
              <th>CANT. O/C</th>
              <!-- <th *ngIf="movimientoSeleccionado.iLugarId !== null">
                CANT. TRANSF.
              </th> -->
              <th>VALOR TOTAL</th>
            </tr>
            <tr>
              <th></th>
              <th></th>
              <th>
                <mat-form-field
                  class="text-10"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Filtro Año O/C...</mat-label>
                  <input
                    (keyup)="filtrarNea()"
                    type="text"
                    class="text-dark"
                    [(ngModel)]="campoFiltro.anioo"
                    matInput
                  />
                </mat-form-field>
              </th>
              <th>
                <mat-form-field
                  class="text-10"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Filtro N° O/C...</mat-label>
                  <input
                    (keyup)="filtrarNea()"
                    type="text"
                    class="text-dark"
                    [(ngModel)]="campoFiltro.norden"
                    matInput
                  />
                </mat-form-field>
              </th>
              
              <th>
                <mat-form-field
                  class="text-10"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Filtro N° SIAf...</mat-label>
                  <input
                    (keyup)="filtrarNea()"
                    type="text"
                    class="text-dark"
                    [(ngModel)]="campoFiltro.n_siaf"
                    matInput
                  />
                </mat-form-field>
              </th>
              <th>
                <mat-form-field
                  class="text-10"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Filtro Clasificador...</mat-label>
                  <input
                    (keyup)="filtrarNea()"
                    type="text"
                    class="text-dark"
                    [(ngModel)]="campoFiltro.clasif"
                    matInput
                  />
                </mat-form-field>
              </th>
              <th>
                <mat-form-field
                  class="text-10"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Filtro Mayor...</mat-label>
                  <input
                    (keyup)="filtrarNea()"
                    type="text"
                    class="text-dark"
                    [(ngModel)]="campoFiltro.mayor"
                    matInput
                  />
                </mat-form-field>
              </th>
              <th>
                <mat-form-field
                  class="text-10"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Filtro Sub CTA...</mat-label>
                  <input
                    (keyup)="filtrarNea()"
                    type="text"
                    class="text-dark"
                    [(ngModel)]="campoFiltro.sbcta"
                    matInput
                  />
                </mat-form-field>
              </th>
              <th>
                <mat-form-field
                  class="text-10"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Filtro Artículo...</mat-label>
                  <input
                    (keyup)="filtrarNea()"
                    type="text"
                    class="text-dark"
                    [(ngModel)]="campoFiltro.arti"
                    matInput
                  />
                </mat-form-field>
              </th>
              <th>
                <mat-form-field
                  class="text-10"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Filtro Uni. Med....</mat-label>
                  <input
                    (keyup)="filtrarNea()"
                    type="text"
                    class="text-dark"
                    [(ngModel)]="campoFiltro.uni_m"
                    matInput
                  />
                </mat-form-field>
              </th>
              <th>
                <mat-form-field
                  class="text-10"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Filtro Prec. Uni....</mat-label>
                  <input
                    (keyup)="filtrarNea()"
                    type="text"
                    class="text-dark"
                    [(ngModel)]="campoFiltro.prec"
                    matInput
                  />
                </mat-form-field>
              </th>
              <th>
                <mat-form-field
                  class="text-10"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Filtro Cant....</mat-label>
                  <input
                    (keyup)="filtrarNea()"
                    type="text"
                    class="text-dark"
                    [(ngModel)]="campoFiltro.cant"
                    matInput
                  />
                </mat-form-field>
              </th>
              <th>
                <mat-form-field
                  class="text-10"
                  color="primary"
                  appearance="outline"
                >
                  <mat-label>Filtro Valor To...</mat-label>
                  <input
                    (keyup)="filtrarNea()"
                    type="text"
                    class="text-dark"
                    [(ngModel)]="campoFiltro.v_t"
                    matInput
                  />
                </mat-form-field>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="detallesMovimiento as result">
              <tr
                *ngFor="
                  let item of result
                    | paginate
                      : {
                          id: 'pagEditDetalleNea',
                          itemsPerPage: iPageSize,
                          currentPage: pENea
                        };
                  let i = index
                "
              >
                <td class="text-center">
                  <span [innerHTML]="i + 1 + (pENea - 1) * iPageSize"></span>
                </td>
                <td class="text-center">
                  <button
                    mat-icon-button
                    color="primary"
                    matTooltip="ACTUALIZAR ITEM"
                    (click)="actualizarDato(item)"
                    [disabled]="loading"
                  >
                    <mat-icon>save</mat-icon>
                  </button>
                </td>
                <td class="text-center">
                  <input
                    class="input_custom"
                    matInput
                    type="text"
                    [(ngModel)]="item.anio_orden"
                  />
                </td>
                <td class="text-center">
                  <input
                    class="input_custom"
                    matInput
                    type="text"
                    [(ngModel)]="item.nro_oc"
                  />
                </td>
                
                <td class="text-center">
                  <input
                    class="input_custom"
                    matInput
                    type="text"
                    [(ngModel)]="item.nro_siaf"
                  />
                </td>
                <td class="text-center">
                  <input
                    class="input_custom"
                    matInput
                    type="text"
                    [(ngModel)]="item.CLASIFICADOR"
                  />
                </td>
                <td class="text-center">
                  <span
                    [innerHTML]="item.MAYOR | resaltar: campoFiltro.mayor"
                  ></span>
                </td>
                <td class="text-center">
                  <span
                    [innerHTML]="item.SUB_CTA | resaltar: campoFiltro.sbcta"
                  ></span>
                </td>
                <td class="text-left">
                  <span
                    [innerHTML]="item.articulo | resaltar: campoFiltro.arti"
                  ></span>
                </td>
                <td class="text-left">
                  <span
                    [innerHTML]="item.uni_med | resaltar: campoFiltro.uni_m"
                  ></span>
                </td>
                <td class="text-center">
                  <span
                    [innerHTML]="item.PRECIO_UNIT | resaltar: campoFiltro.prec"
                  ></span>
                </td>
                <td class="text-center">
                  <span
                    [innerHTML]="
                      item.CANT_ARTICULO | resaltar: campoFiltro.cant
                    "
                  ></span>
                </td>
                <!-- <td
                  class="text-center"
                  *ngIf="movimientoSeleccionado.iLugarId !== null"
                >
                  <span [innerHTML]="item.CANT_MOVIDA"></span>
                </td> -->
                <td class="text-center">
                  <span
                    [innerHTML]="item.VALOR_TOTAL | resaltar: campoFiltro.v_t"
                  ></span>
                </td>
                
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
      <br />
      <pagination-controls
        id="pagEditDetalleNea"
        (pageChange)="pENea = $event"
        previousLabel="Atras"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
  </div>
</ng-template>
<ng-template #modalSec let-modal let-c="close" let-d="dismiss">
  <div class="card text-center">
    <div class="card-header">
      LISTA DE SECUENCIAS FUNCIONALES
      <button
        type="button"
        class="close text-white"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body">
      <table class="table table-bordered w-100">
        <thead class="thead-dark">
          <tr class="head-tablas">
            <th>ID</th>
            <th>NOMBRE</th>
            <th>ELEGIR</th>
          </tr>
          <tr>
            <th>
              <mat-form-field
                class="text-10"
                color="primary"
                appearance="outline"
              >
                <mat-label>Filtro ID...</mat-label>
                <input
                  (keyup)="filtrarSec()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.id_seec"
                  matInput
                />
              </mat-form-field>
            </th>
            <th>
              <mat-form-field
                class="text-10"
                color="primary"
                appearance="outline"
              >
                <mat-label>Filtro Nombre de Secuencia...</mat-label>
                <input
                  (keyup)="filtrarSec()"
                  type="text"
                  class="text-dark"
                  [(ngModel)]="campoFiltro.nombre_seec"
                  matInput
                />
              </mat-form-field>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let sec of listaFunc
                | paginate
                  : {
                      id: 'pagSec',
                      itemsPerPage: iPageSize,
                      currentPage: pSec
                    }
            "
          >
            <td class="text-center">
              <span
                [innerHTML]="sec.sec_func | resaltar: campoFiltro.id_seec"
              ></span>
            </td>
            <td class="text-center">
              <span
                [innerHTML]="sec.nombre | resaltar: campoFiltro.nombre_seec"
              ></span>
            </td>
            <td class="text-center">
              <button
                mat-raised-button
                color="primary"
                matTooltip="Elegir Secuencia"
                (click)="c([sec])"
              >
                <mat-icon>done</mat-icon> Elegir
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <br />
      <pagination-controls
        id="pagSec"
        (pageChange)="pSec = $event"
        previousLabel="Atras"
        nextLabel="Siguiente"
      ></pagination-controls>
    </div>
  </div>
</ng-template>
